heggink-base/Node Red Flows/HomeBatt HE.json
[
    {
        "id": "8d3b29f48feb985c",
        "type": "tab",
        "label": "HomeBattHE",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f288e92fa3b1548c",
        "type": "tab",
        "label": "Enphase Virtual PV",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "13fd8d3e42908a31",
        "type": "tab",
        "label": "domo_log",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b699493a4e613ac0",
        "type": "group",
        "z": "8d3b29f48feb985c",
        "name": "Report Status on change",
        "style": {
            "stroke": "#ffbfbf",
            "fill": "#ffbfbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "37b4d5bd8e0fc6e3",
            "1643bcd645477a2b",
            "dd509f6cc0ef9064",
            "6f90cb5b43297b91",
            "0666a452c944e86d",
            "d94d8a9017289d1b",
            "549b0879108fa3c3",
            "c250820744e33431",
            "07d822bf12d4d20a",
            "0d950ff5d5280902",
            "de5c42ecc136ab87",
            "df5da110e5aa4fcd",
            "6351d4ce197c07b5",
            "aa9a97a3d6c907de",
            "67ea331bffac03a7",
            "8a0b32858273e69d",
            "1527d034459a3668",
            "2638424905d9e622",
            "8cf8304d70a2e248",
            "3eb5e0d6dccc045e",
            "97b4e1392e7f4591",
            "0038a1b9b78b03b1",
            "ab96533b5c6b6ecd",
            "c51446dd8f316fdd",
            "1690588ef40df22a",
            "534bcc84ed2012b1",
            "dff55a5ecf6fb84d",
            "8779a8fae6cbab1b",
            "7e3ce011ce905df4",
            "b5fc09490e6b1cd6",
            "c3fa4f117c8d9f91",
            "f83bb366c3721b45",
            "cada246f092254da",
            "5d7f18d2fe1a1e8e",
            "929b618e5d657887",
            "55e34641af9446fe",
            "324544b19534075b",
            "c05936a093f8f874",
            "9110010eb1c02a9a",
            "8737b4838e1bb454",
            "2dfd1c28c2ca0ebc",
            "59ae98953f9b69cd",
            "710801df7a9dc15f",
            "8973442a5c9052aa",
            "f8de4ba8bb88da0f"
        ],
        "x": 14,
        "y": 379,
        "w": 852,
        "h": 882
    },
    {
        "id": "9e46f3329af496ae",
        "type": "group",
        "z": "8d3b29f48feb985c",
        "name": "Domoticz Setpoint control",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "adaadd6d82d8cc31",
            "204606df936ba45a",
            "31d9308ecec4dbde",
            "b76ec7cb870d37a7",
            "442445439b3c1314",
            "d8b87ec184ee0386",
            "824d7a39eb03356e"
        ],
        "x": 14,
        "y": 159,
        "w": 652,
        "h": 202
    },
    {
        "id": "b362b271c03a0415",
        "type": "group",
        "z": "8d3b29f48feb985c",
        "name": "Initialization",
        "style": {
            "fill": "#d1d1d1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "b970c5ce031efaf2",
            "f7961f09c8a35b9c",
            "0ab475386efa005d",
            "20679d9650260f27",
            "3391833f0a3beec6",
            "69a2629d096d7a9c"
        ],
        "x": 14,
        "y": 19,
        "w": 632,
        "h": 122
    },
    {
        "id": "cf8892e230473d3f",
        "type": "group",
        "z": "8d3b29f48feb985c",
        "name": "Domoticz ESS Mode control",
        "style": {
            "fill": "#9363b7",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "302c4817a35421ee",
            "b58160e237c0d83d",
            "d39b7539103b3513",
            "40bc446b3c9032c2"
        ],
        "x": 14,
        "y": 1939,
        "w": 632,
        "h": 122
    },
    {
        "id": "09c2cef9562d2a46",
        "type": "group",
        "z": "8d3b29f48feb985c",
        "name": "Domoticz Battery Mode/Status Control",
        "style": {
            "fill": "#ffcf3f",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "3b35d6d218a12c21",
            "053fac255b781adb",
            "3ffa4b90340a450b",
            "5b3acf804ca416d1",
            "fb69601b138e6096",
            "8aef9f5e27f808a2",
            "7b32bfae6afab439",
            "fb1468d9f802e21c",
            "9e15b637df84d87f",
            "d14625af14055f20",
            "031b9cbf3eb7ea67",
            "3289791d00f40465",
            "554f27d183597978",
            "9afbd51431392557",
            "2f9c61d13cdca117",
            "f2c94a03e44ac36d",
            "9f462166733487a1",
            "e50fcdcc15023c7c",
            "cb51f6a8d0f024b5",
            "d6cb2b7bfe2ce086",
            "465101cecd27549b",
            "b4d0ec2f6a3fb0ce",
            "a3169756890e06b6",
            "2f93a2522ebb4484",
            "d464f5880be3efb4",
            "19ae2782076f0991",
            "e7fd29b09a28654d",
            "02a7858b852d91b0",
            "91c5833faf99eab3",
            "51c0cfb742f07a47"
        ],
        "x": 14,
        "y": 2079,
        "w": 1062,
        "h": 522
    },
    {
        "id": "9f7e7bb0a86e90c8",
        "type": "group",
        "z": "8d3b29f48feb985c",
        "name": "MQTT",
        "style": {
            "stroke": "#ff7f7f",
            "fill": "#ffcf3f",
            "label": true
        },
        "nodes": [
            "ca79c962a3071fd7",
            "6e6b8ea08a2a0d97",
            "52ee5cac291f0139",
            "f456fb721ca671d5",
            "84f5b9b1e88bca69",
            "171e2947b5815a6e",
            "1bca7eebfc757294",
            "4770b54da60b48b5"
        ],
        "x": 664,
        "y": 19,
        "w": 532,
        "h": 122
    },
    {
        "id": "e904e3df5b7461ca",
        "type": "group",
        "z": "8d3b29f48feb985c",
        "name": "AC-In Power Usage",
        "style": {
            "stroke": "#a4a4a4",
            "fill": "#7fb7df",
            "label": true,
            "color": "#ffffff"
        },
        "nodes": [
            "9d8915e414a76f0e",
            "a236b11b7fc6946a",
            "65e74659afd2b0bd",
            "22394a20ce5a7b95",
            "0f019469f8d07b39",
            "cab032cb2249b5bb",
            "57ee548438878441",
            "6c95c716e4ab5d1f",
            "d6e4856191966e9e",
            "1fbbec3b31fce42a",
            "819b8b5bd25157f3"
        ],
        "x": 14,
        "y": 1719,
        "w": 752,
        "h": 202
    },
    {
        "id": "61da6231d7299de3",
        "type": "group",
        "z": "8d3b29f48feb985c",
        "name": "Grid load reporting",
        "style": {
            "fill": "#bfbfbf",
            "label": true
        },
        "nodes": [
            "95822aef8982c2a7",
            "3f0cc8d28e8fb7a4",
            "8acddbd29a9cdd86",
            "e4c4f61b74e39169",
            "a654b14df06a9ae9",
            "159833534a73765c",
            "f372c7304a23c6e0",
            "d5ba4bcb0468fbf1",
            "a998a9a4eb633448",
            "32175fee5146afea",
            "48fff1d72fed0b87",
            "358c46e08f21676c",
            "c022f5482e4936a0",
            "7379c2bee96ee81d"
        ],
        "x": 14,
        "y": 1279,
        "w": 872,
        "h": 282
    },
    {
        "id": "05bc2ab263663dde",
        "type": "group",
        "z": "8d3b29f48feb985c",
        "name": "GridOverloadMonitor",
        "style": {
            "label": true,
            "color": "#000000",
            "fill": "#c8e7a7"
        },
        "nodes": [
            "7fd426c7ab23f005",
            "51c59a043f433e82",
            "aacbe0c5d5d3ed9d",
            "0460462083e78ff0",
            "0b2f6c937ecdd315",
            "7f1f55894fcbda14"
        ],
        "x": 14,
        "y": 1579,
        "w": 762,
        "h": 122
    },
    {
        "id": "dc7bd95e3d68dfe3",
        "type": "group",
        "z": "8d3b29f48feb985c",
        "name": "BattIQMode",
        "style": {
            "label": true,
            "fill": "#b797cf",
            "color": "#000000"
        },
        "nodes": [
            "b8e9c6b1bc213022",
            "99a90d423d8cd99b",
            "59660e1586e1ec48",
            "232141417a05794e",
            "a317260c5a3441e9",
            "2317ba8453921b8c",
            "63b7eaa456c6f9ab",
            "d11013ed692bd256",
            "bb22a74d34f44c62",
            "01dbdaf6a544d019",
            "16da8953d192ab30",
            "390279dcded85e0f",
            "78102c3f64e2de32",
            "656d79841f2b968b",
            "563c9ef40f7e3e50",
            "308488716b4a1ceb",
            "5d6a2e200fb8faa7"
        ],
        "x": 14,
        "y": 2619,
        "w": 932,
        "h": 242
    },
    {
        "id": "9bad7daae227974f",
        "type": "group",
        "z": "8d3b29f48feb985c",
        "name": "Errors",
        "style": {
            "fill": "#ff7f7f",
            "label": true
        },
        "nodes": [
            "454dffade8093f08",
            "8de232d607ed9dae",
            "f6df8aab7f837216"
        ],
        "x": 14,
        "y": 2879,
        "w": 402,
        "h": 82
    },
    {
        "id": "bad554f7d868bf19",
        "type": "group",
        "z": "8d3b29f48feb985c",
        "name": "Grid SetPoint",
        "style": {
            "fill": "#d1d1d1",
            "label": true
        },
        "nodes": [
            "d9170c81baee4ff3",
            "11fac77a0d071027",
            "74a4ce465b0fb3ee"
        ],
        "x": 694,
        "y": 159,
        "w": 272,
        "h": 122
    },
    {
        "id": "victron-client-id",
        "type": "victron-client"
    },
    {
        "id": "1c4bcced4bf72c6d",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Home Batt",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ee1bb25c871ce5fc",
        "type": "mqtt-broker",
        "name": "freenas",
        "broker": "192.168.1.109",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "482140b3ae8976c9",
        "type": "ui_group",
        "name": "BL109",
        "tab": "4a6b773847c2eaa7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4a6b773847c2eaa7",
        "type": "ui_tab",
        "name": "BL109",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "302c4817a35421ee",
        "type": "mqtt in",
        "z": "8d3b29f48feb985c",
        "g": "cf8892e230473d3f",
        "name": "ESS Mode",
        "topic": "my_victron/set/ess_mode",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ee1bb25c871ce5fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 1980,
        "wires": [
            [
                "40bc446b3c9032c2"
            ]
        ]
    },
    {
        "id": "b58160e237c0d83d",
        "type": "debug",
        "z": "8d3b29f48feb985c",
        "g": "cf8892e230473d3f",
        "name": "Update ESS Mode",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 2020,
        "wires": []
    },
    {
        "id": "d39b7539103b3513",
        "type": "victron-output-ess",
        "z": "8d3b29f48feb985c",
        "g": "cf8892e230473d3f",
        "service": "com.victronenergy.settings",
        "path": "/Settings/CGwacs/Hub4Mode",
        "serviceObj": {
            "service": "com.victronenergy.settings",
            "name": "Venus settings"
        },
        "pathObj": {
            "path": "/Settings/CGwacs/Hub4Mode",
            "type": "enum",
            "name": "ESS mode",
            "enum": {
                "1": "Optimized mode or 'keep batteries charged' and phase compensation enabled",
                "2": "Optimized mode or 'keep batteries charged' and phase compensation disabled",
                "3": "External control"
            },
            "writable": true
        },
        "initial": "",
        "name": "",
        "onlyChanges": false,
        "x": 500,
        "y": 1980,
        "wires": []
    },
    {
        "id": "40bc446b3c9032c2",
        "type": "function",
        "z": "8d3b29f48feb985c",
        "g": "cf8892e230473d3f",
        "name": "Translate",
        "func": "let new_mode = 0;\nif (msg.payload == \"Mode 1\")\n    new_mode = 1;\nelse if (msg.payload == \"Mode 2\")\n    new_mode = 2;\nelse\n    return null;\nmsg.payload = new_mode;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 1980,
        "wires": [
            [
                "d39b7539103b3513",
                "b58160e237c0d83d"
            ]
        ]
    },
    {
        "id": "b76ec7cb870d37a7",
        "type": "ui_button",
        "z": "8d3b29f48feb985c",
        "g": "9e46f3329af496ae",
        "name": "",
        "group": "482140b3ae8976c9",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Setpoint 0",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "824d7a39eb03356e"
            ]
        ]
    },
    {
        "id": "37b4d5bd8e0fc6e3",
        "type": "victron-input-ess",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "service": "com.victronenergy.settings",
        "path": "/Settings/CGwacs/AcPowerSetPoint",
        "serviceObj": {
            "service": "com.victronenergy.settings",
            "name": "Venus settings"
        },
        "pathObj": {
            "path": "/Settings/CGwacs/AcPowerSetPoint",
            "type": "integer",
            "name": "Grid set-point (W)"
        },
        "name": "Venus | Grid set-point (W)",
        "onlyChanges": true,
        "x": 150,
        "y": 440,
        "wires": [
            [
                "adaadd6d82d8cc31",
                "204606df936ba45a",
                "7e3ce011ce905df4",
                "f8de4ba8bb88da0f"
            ]
        ]
    },
    {
        "id": "adaadd6d82d8cc31",
        "type": "ui_numeric",
        "z": "8d3b29f48feb985c",
        "g": "9e46f3329af496ae",
        "name": "Setpoint-Num",
        "label": "Setpoint",
        "tooltip": "Change Setpoint",
        "group": "482140b3ae8976c9",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "-10000",
        "max": "10000",
        "step": "500",
        "className": "",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "824d7a39eb03356e"
            ]
        ]
    },
    {
        "id": "204606df936ba45a",
        "type": "ui_slider",
        "z": "8d3b29f48feb985c",
        "g": "9e46f3329af496ae",
        "name": "",
        "label": "Setpoint Slider",
        "tooltip": "Changes the Setpoint",
        "group": "482140b3ae8976c9",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "-10000",
        "max": "10000",
        "step": "100",
        "className": "",
        "x": 120,
        "y": 280,
        "wires": [
            [
                "824d7a39eb03356e"
            ]
        ]
    },
    {
        "id": "ca79c962a3071fd7",
        "type": "function",
        "z": "8d3b29f48feb985c",
        "g": "9f7e7bb0a86e90c8",
        "name": "construct MQTT-AD",
        "func": "// messages on output 1 will be rate limit\n\nlet final_topic = \"my_victron/\" + msg.topic + \"/state\";\n\nlet data_msg = context.global.data || {};\nlet data_timestamp = context.global.timetamp || {};\nlet topic = msg.topic;\n\nlet sendnow = false;\n\nif (typeof msg.sendnow !== 'undefined') {\n    sendnow = (msg.sendnow == true);\n}\n\ndata_msg[topic] = msg.payload;\ndata_timestamp[topic] = Date.now();\ncontext.global.data = data_msg;\ncontext.global.timetamp = data_timestamp;\n\nmsg.topic = final_topic;\n\nlet msg2 = null;\n\nif (sendnow == true) {\n    //node.warn('send now: ' + msg.topic);\n    //send directly\n    msg2 = msg;\n    msg = null;\n}\n\nreturn [msg, msg2];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 60,
        "wires": [
            [
                "f456fb721ca671d5"
            ],
            [
                "4770b54da60b48b5"
            ]
        ]
    },
    {
        "id": "1643bcd645477a2b",
        "type": "function",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "name": "Charge State",
        "func": "msg.topic = \"charge_state\";\n\nif (msg.payload == 0)\n    msg.payload = \"Initialising\";\nelse if (msg.payload == 1)\n    msg.payload = \"Bulk\";\nelse if (msg.payload == 2)\n    msg.payload = \"Absorption\";\nelse if (msg.payload == 3)\n    msg.payload = \"Float\";\nelse if (msg.payload == 4)\n    msg.payload = \"Storage\";\nelse if (msg.payload == 5)\n    msg.payload = \"Absorb repeat\";\nelse if (msg.payload == 6)\n    msg.payload = \"Forced absorb\";\nelse if (msg.payload == 7)\n    msg.payload = \"Equalise\";\nelse if (msg.payload == 8)\n    msg.payload = \"Bulk stopped\";\nelse if (msg.payload == 9)\n    msg.payload = \"Unknown\";\nelse\n    msg.payload = \"Unknown?\";\nmsg.sendnow = true;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 940,
        "wires": [
            [
                "2638424905d9e622",
                "8973442a5c9052aa"
            ]
        ]
    },
    {
        "id": "dd509f6cc0ef9064",
        "type": "function",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "name": "ESS Mode",
        "func": "msg.topic = \"ess_mode\";\nif (msg.payload == 1)\n    msg.payload = \"Mode 1\";\nelse if (msg.payload == 2)\n    msg.payload = \"Mode 2\";\nelse if (msg.payload == 3)\n    msg.payload = \"Mode 3\";\nelse\n    return null;\nmsg.sendnow = true;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 980,
        "wires": [
            [
                "2638424905d9e622"
            ]
        ]
    },
    {
        "id": "6e6b8ea08a2a0d97",
        "type": "mqtt out",
        "z": "8d3b29f48feb985c",
        "g": "9f7e7bb0a86e90c8",
        "name": "Domoticz-MQTT",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ee1bb25c871ce5fc",
        "x": 910,
        "y": 100,
        "wires": []
    },
    {
        "id": "52ee5cac291f0139",
        "type": "debug",
        "z": "8d3b29f48feb985c",
        "g": "9f7e7bb0a86e90c8",
        "name": "JSON Output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 775,
        "y": 100,
        "wires": [],
        "l": false
    },
    {
        "id": "6f90cb5b43297b91",
        "type": "victron-input-system",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "service": "com.victronenergy.system/0",
        "path": "/Dc/Battery/Soc",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus system"
        },
        "pathObj": {
            "path": "/Dc/Battery/Soc",
            "type": "float",
            "name": "Battery State of Charge (%)"
        },
        "name": "Venus Battery | State of Charge (%)",
        "onlyChanges": true,
        "roundValues": "1",
        "x": 180,
        "y": 500,
        "wires": [
            [
                "df5da110e5aa4fcd",
                "1527d034459a3668",
                "b5fc09490e6b1cd6"
            ]
        ]
    },
    {
        "id": "0666a452c944e86d",
        "type": "victron-input-battery",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "service": "com.victronenergy.battery/277",
        "path": "/Dc/0/Voltage",
        "serviceObj": {
            "service": "com.victronenergy.battery/277",
            "name": "SmartShunt 500A/50mV"
        },
        "pathObj": {
            "path": "/Dc/0/Voltage",
            "type": "float",
            "name": "Battery voltage (V)"
        },
        "initial": "",
        "name": "SmartShunt | Battery voltage (V)",
        "onlyChanges": true,
        "roundValues": "2",
        "x": 170,
        "y": 560,
        "wires": [
            [
                "6351d4ce197c07b5",
                "8a0b32858273e69d",
                "1690588ef40df22a"
            ]
        ]
    },
    {
        "id": "d94d8a9017289d1b",
        "type": "victron-input-battery",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "service": "com.victronenergy.battery/277",
        "path": "/Dc/0/Current",
        "serviceObj": {
            "service": "com.victronenergy.battery/277",
            "name": "SmartShunt 500A/50mV"
        },
        "pathObj": {
            "path": "/Dc/0/Current",
            "type": "float",
            "name": "Battery current (A)"
        },
        "initial": "",
        "name": "SmartShunt | Battery current (A)",
        "onlyChanges": true,
        "roundValues": "2",
        "x": 170,
        "y": 620,
        "wires": [
            [
                "534bcc84ed2012b1",
                "710801df7a9dc15f"
            ]
        ]
    },
    {
        "id": "95822aef8982c2a7",
        "type": "victron-input-system",
        "z": "8d3b29f48feb985c",
        "g": "61da6231d7299de3",
        "service": "com.victronenergy.system/0",
        "path": "/Ac/Grid/L1/Power",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus system"
        },
        "pathObj": {
            "path": "/Ac/Grid/L1/Power",
            "type": "float",
            "name": "Grid L1 (W)"
        },
        "name": "L1 W",
        "onlyChanges": true,
        "roundValues": "2",
        "x": 90,
        "y": 1320,
        "wires": [
            [
                "e4c4f61b74e39169",
                "d5ba4bcb0468fbf1"
            ]
        ]
    },
    {
        "id": "3f0cc8d28e8fb7a4",
        "type": "victron-input-system",
        "z": "8d3b29f48feb985c",
        "g": "61da6231d7299de3",
        "service": "com.victronenergy.system/0",
        "path": "/Ac/Grid/L3/Power",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus system"
        },
        "pathObj": {
            "path": "/Ac/Grid/L3/Power",
            "type": "float",
            "name": "Grid L3 (W)"
        },
        "name": "L3 W",
        "onlyChanges": true,
        "roundValues": "2",
        "x": 90,
        "y": 1480,
        "wires": [
            [
                "159833534a73765c",
                "32175fee5146afea"
            ]
        ]
    },
    {
        "id": "8acddbd29a9cdd86",
        "type": "victron-input-system",
        "z": "8d3b29f48feb985c",
        "g": "61da6231d7299de3",
        "service": "com.victronenergy.system/0",
        "path": "/Ac/Grid/L2/Power",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus system"
        },
        "pathObj": {
            "path": "/Ac/Grid/L2/Power",
            "type": "float",
            "name": "Grid L2 (W)"
        },
        "name": "L2 W",
        "onlyChanges": true,
        "roundValues": "2",
        "x": 90,
        "y": 1400,
        "wires": [
            [
                "a654b14df06a9ae9",
                "a998a9a4eb633448"
            ]
        ]
    },
    {
        "id": "549b0879108fa3c3",
        "type": "victron-input-temperature",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "service": "com.victronenergy.temperature/26",
        "path": "/Temperature",
        "serviceObj": {
            "service": "com.victronenergy.temperature/26",
            "name": "TEMP CEIL"
        },
        "pathObj": {
            "path": "/Temperature",
            "type": "float",
            "name": "Temperature (°C)"
        },
        "name": "Temp1",
        "onlyChanges": true,
        "roundValues": "2",
        "x": 90,
        "y": 820,
        "wires": [
            [
                "cada246f092254da"
            ]
        ]
    },
    {
        "id": "c250820744e33431",
        "type": "victron-input-temperature",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "service": "com.victronenergy.temperature/25",
        "path": "/Temperature",
        "serviceObj": {
            "service": "com.victronenergy.temperature/25",
            "name": "TEMP LYNX"
        },
        "pathObj": {
            "path": "/Temperature",
            "type": "float",
            "name": "Temperature (°C)"
        },
        "name": "Temp2",
        "onlyChanges": true,
        "roundValues": "2",
        "x": 90,
        "y": 860,
        "wires": [
            [
                "5d7f18d2fe1a1e8e"
            ]
        ]
    },
    {
        "id": "07d822bf12d4d20a",
        "type": "victron-input-temperature",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "service": "com.victronenergy.temperature/24",
        "path": "/Temperature",
        "serviceObj": {
            "service": "com.victronenergy.temperature/24",
            "name": "TEMP SHUNT"
        },
        "pathObj": {
            "path": "/Temperature",
            "type": "float",
            "name": "Temperature (°C)"
        },
        "name": "Temp3",
        "onlyChanges": true,
        "roundValues": "2",
        "x": 90,
        "y": 900,
        "wires": [
            [
                "929b618e5d657887"
            ]
        ]
    },
    {
        "id": "0d950ff5d5280902",
        "type": "victron-input-vebus",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "service": "com.victronenergy.vebus/276",
        "path": "/VebusChargeState",
        "serviceObj": {
            "service": "com.victronenergy.vebus/276",
            "name": "MultiPlus"
        },
        "pathObj": {
            "path": "/VebusChargeState",
            "type": "enum",
            "name": "Charge state",
            "enum": {
                "0": "Initialising",
                "1": "Bulk",
                "2": "Absorption",
                "3": "Float",
                "4": "Storage",
                "5": "Absorb repeat",
                "6": "Forced absorb",
                "7": "Equalise",
                "8": "Bulk stopped",
                "9": "Unknown"
            }
        },
        "initial": "",
        "name": "MultiPlus-II 48/5000 | Charge State",
        "onlyChanges": true,
        "x": 180,
        "y": 940,
        "wires": [
            [
                "1643bcd645477a2b"
            ]
        ]
    },
    {
        "id": "de5c42ecc136ab87",
        "type": "victron-input-ess",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "service": "com.victronenergy.settings",
        "path": "/Settings/CGwacs/Hub4Mode",
        "serviceObj": {
            "service": "com.victronenergy.settings",
            "name": "Venus settings"
        },
        "pathObj": {
            "path": "/Settings/CGwacs/Hub4Mode",
            "type": "enum",
            "name": "ESS mode",
            "enum": {
                "1": "Optimized mode or 'keep batteries charged' and phase compensation enabled",
                "2": "Optimized mode or 'keep batteries charged' and phase compensation disabled",
                "3": "External control"
            }
        },
        "initial": "",
        "name": "ESS Mode",
        "onlyChanges": true,
        "x": 100,
        "y": 980,
        "wires": [
            [
                "dd509f6cc0ef9064"
            ]
        ]
    },
    {
        "id": "b970c5ce031efaf2",
        "type": "function",
        "z": "8d3b29f48feb985c",
        "g": "b362b271c03a0415",
        "name": "Startup Function",
        "func": "let discovery_topic = \"victron\";\nlet root_topic = \"my_victron\";\ncontext.global.batt_capacity = 60000; //Wh\ncontext.global.max_charge_setpoint = 10000; //3000=90.7% see efficiency chart \ncontext.global.max_discharge_setpoint = 10000; //4126=90.8, 4750 = 89.6\ncontext.global.number_of_multiplus = 3;\ncontext.global.min_soc = 30;\ncontext.global.max_soc = 100; //Because we use a smartshunt and specified 55.2V as 100% (=90%)\ncontext.global.idle_rate = 103;\ncontext.global.min_soc_overnight = 10;\ncontext.global.charge_rate = 9000;\ncontext.global.discharge_rate = -10000;\ncontext.global.setpoint_adjusted = false;\ncontext.global.max_phase_power = 5550;\n\n//context.global.max_phase_power = 4000;\ncontext.global.data = context.global.data || {};\n\nlet pobject = [\n    //\"name\": [\"object_type\", \"varname\", \"unique_id\", \"payload_on/unit\", \"payload_off\", \"step\"],\n\n    //Setpoint\n    //{ \"ESS Setpoint\": [\"climate\", \"ess_setpoint\", \"0x8000000002\", \"Watt\", \"-5000|5000\", 100] },\n    { \"ESS Setpoint\": [\"climate\", \"ess_setpoint\", \"0x8000000002\", \"Watt\", \"-12000|12000\", 100] },\n\n    //Switches\n    { \"ESS Control Mode\": [\"select\", \"ess_mode\", \"0x8000000001\", \"Mode 1|Mode 2\", \"\", 0] },\n    { \"Battery Mode\": [\"select\", \"batt_mode\", \"0x800000000E\", \"Off|Idle|Charge|Discharge|Grid Balance|IQ Smart Mode|Solar Charge|Manual\", \"\", 0] },\n    { \"Battery State\": [\"select\", \"batt_state\", \"0x8000000014\", \"Off|Idle|Charging|Discharging\", \"\", 0] },\n    { \"MP2 On/Off state\": [\"switch\", \"mp2_switch_position\", \"0x800000000F\", \"On\", \"Off\", 0] },\n\n    //Sensors\n    { \"Battery Percentage\": [\"sensor\", \"batt_soc\", \"0x8000000003\", \"%\", \"\", 0] },\n    { \"Battery Voltage\": [\"sensor\", \"batt_voltage\", \"0x8000000004\", \"V\", \"\", 0] },\n    { \"Battery Amps\": [\"sensor\", \"batt_amps\", \"0x8000000005\", \"A\", \"\", 0] },\n    { \"Battery Temperature\": [\"sensor\", \"batt_temp\", \"0x800000000D\", \"\\u00b0c\", \"\", 0] },\n    { \"ET340 L1 Watt\": [\"sensor\", \"grid_l1_w\", \"0x8000000006\", \"W\", \"\", 0] },\n    { \"ET340 L2 Watt\": [\"sensor\", \"grid_l2_w\", \"0x8000000007\", \"W\", \"\", 0] },\n    { \"ET340 L3 Watt\": [\"sensor\", \"grid_l3_w\", \"0x8000000008\", \"W\", \"\", 0] },\n    { \"ET340 Total Watt\": [\"sensor\", \"grid_total_w\", \"0x8000000108\", \"W\", \"\", 0] },\n    { \"Battery Capacity\": [\"sensor\", \"batt_capacity\", \"0x8000000012\", \"W\", \"\", 0] },\n    { \"Battery Charged kWh\": [\"sensor\", \"batt_charged_kwh\", \"0x8000000015_power\", \"kWh\", \"\", 0] },\n    { \"Battery Charged W\": [\"sensor\", \"batt_charged_w\", \"0x8000000015_energy\", \"W\", \"\", 0] },\n    { \"Battery Discharged kWh\": [\"sensor\", \"batt_discharged_kwh\", \"0x8000000016_power\", \"kWh\", \"\", 0] },\n    { \"Battery Discharged W\": [\"sensor\", \"batt_discharged_w\", \"0x8000000016_energy\", \"W\", \"\", 0] },\n    { \"MP2 AC-In kWh\": [\"sensor\", \"inv_acin_kwh\", \"0x8000000017_power\", \"kWh\", \"\", 0] },\n    { \"MP2 AC-In Charged W\": [\"sensor\", \"inv_acin_w\", \"0x8000000017_energy\", \"W\", \"\", 0] },\n\n    //Temperatures\n    { \"Ceil Temp\": [\"sensor\", \"temp_1\", \"0x8000000009\", \"\\u00b0c\", \"\", 0] },\n    { \"Lynx Temp\": [\"sensor\", \"temp_2\", \"0x800000000A\", \"\\u00b0c\", \"\", 0] },\n    { \"Shunt Temp\": [\"sensor\", \"temp_3\", \"0x800000000B\", \"\\u00b0c\", \"\", 0] },\n    \n    //Text\n    { \"ESS Charge State\": [\"sensor\", \"charge_state\", \"0x800000000C\", \"text\", \"\", 0] },\n];\n\nfunction createBinaryObject(root, name, varname, unique_id, payload_on = \"ON\", payload_off = \"OFF\")\n{\n    let device_identifier = unique_id;\n    if (device_identifier.indexOf(\"_\") != -1)\n    {\n        device_identifier = unique_id.split(\"_\")[0];\n    }\n    \n    let vjson = {\n        \"stat_t\": \"~/\" + varname + \"/state\",\n        \"dev\": {\n            \"manufacturer\": \"PA1DVB\",\n            \"ids\": []\n        }\n    };\n    vjson.dev.ids.push(device_identifier);\n    vjson[\"~\"] = root;\n    vjson[\"name\"] = name;\n    vjson[\"payload_on\"] = payload_on;\n    vjson[\"payload_off\"] = payload_off;\n    vjson[\"uniq_id\"] = unique_id;\n    vjson[\"val_tpl\"] = \"{{ value_json.\" + varname + \" }}\";\n    return vjson;\n}\n\nfunction createLightObject(root, name, varname, unique_id, payload_on = \"ON\", payload_off = \"OFF\")\n{\n    let device_identifier = unique_id;\n    if (device_identifier.indexOf(\"_\") != -1)\n    {\n        device_identifier = unique_id.split(\"_\")[0];\n    }\n    \n    let vjson = {\n        \"stat_t\": \"~/\" + varname + \"/state\",\n        \"dev\": {\n            \"manufacturer\": \"PA1DVB\",\n            \"ids\": []\n        }\n    };\n    vjson.dev.ids.push(device_identifier);\n    vjson[\"~\"] = root;\n    vjson[\"name\"] = name;\n    vjson[\"payload_on\"] = payload_on;\n    vjson[\"payload_off\"] = payload_off;\n    vjson[\"cmd_t\"] = \"~/set/\" + varname;\n    vjson[\"uniq_id\"] = unique_id;\n    vjson[\"val_tpl\"] = \"{{ value_json.\" + varname + \" }}\";\n    return vjson;\n}\n\nfunction createSelectObject(root, name, varname, unique_id, select_options)\n{\n    let device_identifier = unique_id;\n    if (device_identifier.indexOf(\"_\") != -1)\n    {\n        device_identifier = unique_id.split(\"_\")[0];\n    }\n    \n    let vjson = {\n        \"stat_t\": \"~/\" + varname + \"/state\",\n        \"dev\": {\n            \"manufacturer\": \"PA1DVB\",\n            \"ids\": []\n        }\n    };\n    vjson.dev.ids.push(device_identifier);\n    vjson[\"~\"] = root;\n    vjson[\"name\"] = name;\n\n    vjson[\"options\"] = [];\n    select_options.split(\"|\").forEach(function (item) {\n        vjson[\"options\"].push(item);\n    });\n    vjson[\"cmd_t\"] = \"~/set/\" + varname;\n    vjson[\"uniq_id\"] = unique_id;\n    vjson[\"val_tpl\"] = \"{{ value_json.\" + varname + \" }}\";\n    return vjson;\n}\n\nfunction createNumberObject(root, name, varname, unique_id, step = 1)\n{\n    let device_identifier = unique_id;\n    if (device_identifier.indexOf(\"_\") != -1)\n    {\n        device_identifier = unique_id.split(\"_\")[0];\n    }\n    \n    let vjson = {\n        \"stat_t\": \"~/\" + varname + \"/state\",\n        \"dev\": {\n            \"manufacturer\": \"PA1DVB\",\n            \"ids\": []\n        }\n    };\n    vjson.dev.ids.push(device_identifier);\n    vjson[\"~\"] = root;\n    vjson[\"name\"] = name;\n    vjson[\"step\"] = step;\n    vjson[\"cmd_t\"] = \"~/set/\" + varname;\n    vjson[\"uniq_id\"] = unique_id;\n    vjson[\"val_tpl\"] = \"{{ value_json.\" + varname + \" }}\";\n    return vjson;\n}\n\nfunction createSensorObject(root, name, varname, unique_id, unit_of_measurement)\n{\n    let device_identifier = unique_id;\n    if (device_identifier.indexOf(\"_\") != -1)\n    {\n        device_identifier = unique_id.split(\"_\")[0];\n    }\n    \n    let vjson = {\n        \"stat_t\": \"~/\" + varname + \"/state\",\n        \"dev\": {\n            \"manufacturer\": \"PA1DVB\",\n            \"ids\": []\n        }\n    };\n    vjson.dev.ids.push(device_identifier);\n    vjson[\"~\"] = root;\n    vjson[\"name\"] = name;\n    vjson[\"uniq_id\"] = unique_id;\n    vjson[\"unit_of_meas\"] = unit_of_measurement;\n    vjson[\"val_tpl\"] = \"{{ value_json.\" + varname + \" }}\";\n    return vjson\n}\n\nfunction createClimateObject(root, name, varname, unique_id, unit_of_measurement, min_value = 6.5, max_value = 35.0, step_size = 1.0)\n{\n    let device_identifier = unique_id;\n    if (device_identifier.indexOf(\"_\") != -1)\n    {\n        device_identifier = unique_id.split(\"_\")[0];\n    }\n    \n    let vjson = {\n        \"temp_stat_t\": \"~/\" + varname + \"/state\",\n        \"dev\": {\n            \"manufacturer\": \"PA1DVB\",\n            \"ids\": []\n        }\n    };\n    vjson.dev.ids.push(device_identifier);\n    vjson[\"~\"] = root;\n    vjson[\"name\"] = name;\n    vjson[\"uniq_id\"] = unique_id;\n    vjson[\"temp_unit\"] = unit_of_measurement;\n    vjson[\"temp_cmd_t\"] = \"~/set/\" + varname;\n    vjson[\"temp_stat_tpl\"] = \"{{ value_json.\" + varname + \" }}\";\n    vjson[\"temp_step\"] = step_size;\n    vjson[\"min_temp\"] = min_value;\n    vjson[\"max_temp\"] = max_value;\n    return vjson\n}\n\nnode.log(\"Flow Initialisation\");\n\npobject.forEach((vvar) => {\n    let name = Object.keys(vvar)[0];\n    let vobj = vvar[Object.keys(vvar)];\n    let object_type = vobj[0]\n    let varname = vobj[1]\n    let unique_id = vobj[2]\n\n    let jobj = null\n    if (object_type == \"light\") {\n        let payload_on = vobj[3]\n        let payload_off = vobj[4]\n        jobj = createLightObject(root_topic, name, varname, unique_id, payload_on, payload_off);\n    }\n    else if (object_type == \"switch\") {\n        let payload_on = vobj[3]\n        let payload_off = vobj[4]\n        jobj = createLightObject(root_topic, name, varname, unique_id, payload_on, payload_off);\n    }\n    else if (object_type == \"binary_sensor\") {\n        let payload_on = vobj[3]\n        let payload_off = vobj[4]\n        jobj = createBinaryObject(root_topic, name, varname, unique_id, payload_on, payload_off);\n    }\n    else if (object_type == \"select\") {\n        let soptions = vobj[3]\n        jobj = createSelectObject(root_topic, name, varname, unique_id, soptions);\n    }\n    else if (object_type == \"number\") {\n        let step = vobj[5]\n        jobj = createNumberObject(root_topic, name, varname, unique_id, step);\n    }\n    else if (object_type == \"sensor\") {\n        let unit_of_measurement = vobj[3]\n        jobj = createSensorObject(root_topic, name, varname, unique_id, unit_of_measurement);\n    }\n    else if (object_type == \"climate\") {\n        let unit_of_measurement = vobj[3]\n        let minmax = vobj[4];\n        let step_size = vobj[5]\n\n        let min_value = 6.5;\n        let max_value = 35;\n        let sresults = minmax.split(\"|\");\n        if (sresults.length == 2) {\n            min_value = parseFloat(sresults[0]);\n            max_value = parseFloat(sresults[1]);\n        }\n\n        jobj = createClimateObject(root_topic, name, varname, unique_id, unit_of_measurement, min_value, max_value, step_size);\n    }\n\n    if (jobj != null) {\n        if (unique_id.indexOf(\"_\") != -1)\n        {\n            unique_id = unique_id.split(\"_\")[0];\n        }\n        let dtopic = discovery_topic + \"/\" + object_type + \"/\" + unique_id + \"/\" + varname + \"/config\"\n        //node.log(\"publishing config ->: \" + dtopic);\n\n        msg.payload = jobj;\n        msg.topic = dtopic;\n        msg.retain = true;\n        node.send(msg);\n    }\n});\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 60,
        "wires": [
            [
                "0ab475386efa005d"
            ]
        ]
    },
    {
        "id": "31d9308ecec4dbde",
        "type": "mqtt in",
        "z": "8d3b29f48feb985c",
        "g": "9e46f3329af496ae",
        "name": "ESS Setpoint",
        "topic": "my_victron/set/ess_setpoint",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ee1bb25c871ce5fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 200,
        "wires": [
            [
                "442445439b3c1314",
                "d8b87ec184ee0386"
            ]
        ]
    },
    {
        "id": "df5da110e5aa4fcd",
        "type": "ui_gauge",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "name": "",
        "group": "482140b3ae8976c9",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "SOC",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#d41138",
            "#e6e600",
            "#37e14b"
        ],
        "seg1": "30",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 410,
        "y": 480,
        "wires": []
    },
    {
        "id": "6351d4ce197c07b5",
        "type": "ui_chart",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "name": "",
        "group": "482140b3ae8976c9",
        "order": 8,
        "width": "0",
        "height": "0",
        "label": "Battery Voltage",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "bezier",
        "nodata": "No data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f7ec1",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 400,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "f7961f09c8a35b9c",
        "type": "inject",
        "z": "8d3b29f48feb985c",
        "g": "b362b271c03a0415",
        "name": "Startup",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.3",
        "topic": "online",
        "payload": "true",
        "payloadType": "str",
        "x": 260,
        "y": 100,
        "wires": [
            [
                "b970c5ce031efaf2",
                "69a2629d096d7a9c"
            ]
        ]
    },
    {
        "id": "8a0b32858273e69d",
        "type": "ui_text",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "group": "482140b3ae8976c9",
        "order": 5,
        "width": "6",
        "height": "1",
        "name": "Voltage",
        "label": "",
        "format": "{{msg.payload}} Volt",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Verdana,Verdana,Geneva,sans-serif",
        "fontSize": 16,
        "color": "#4fb4f3",
        "x": 380,
        "y": 560,
        "wires": []
    },
    {
        "id": "3b35d6d218a12c21",
        "type": "mqtt in",
        "z": "8d3b29f48feb985c",
        "g": "09c2cef9562d2a46",
        "name": "Battery Mode",
        "topic": "my_victron/set/batt_mode",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ee1bb25c871ce5fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 2220,
        "wires": [
            [
                "053fac255b781adb",
                "554f27d183597978"
            ]
        ]
    },
    {
        "id": "053fac255b781adb",
        "type": "switch",
        "z": "8d3b29f48feb985c",
        "g": "09c2cef9562d2a46",
        "name": "Switch modes",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "On",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Charge",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Discharge",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Idle",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "IQ Smart Mode",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Grid Balance",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 7,
        "x": 340,
        "y": 2220,
        "wires": [
            [
                "5b3acf804ca416d1"
            ],
            [
                "8aef9f5e27f808a2"
            ],
            [
                "7b32bfae6afab439"
            ],
            [
                "fb1468d9f802e21c"
            ],
            [
                "9e15b637df84d87f"
            ],
            [
                "02a7858b852d91b0"
            ],
            [
                "19ae2782076f0991"
            ]
        ]
    },
    {
        "id": "3ffa4b90340a450b",
        "type": "victron-output-vebus",
        "z": "8d3b29f48feb985c",
        "g": "09c2cef9562d2a46",
        "service": "com.victronenergy.vebus/276",
        "path": "/Mode",
        "serviceObj": {
            "service": "com.victronenergy.vebus/276",
            "name": "MultiPlus-II 48/5000/70-50"
        },
        "pathObj": {
            "path": "/Mode",
            "type": "enum",
            "name": "Switch Position",
            "enum": {
                "1": "Charger Only",
                "2": "Inverter Only",
                "3": "On",
                "4": "Off"
            },
            "mode": "both"
        },
        "name": "MP2 Switch position",
        "onlyChanges": false,
        "x": 920,
        "y": 2160,
        "wires": []
    },
    {
        "id": "5b3acf804ca416d1",
        "type": "function",
        "z": "8d3b29f48feb985c",
        "g": "09c2cef9562d2a46",
        "name": "System Off",
        "func": "msg.payload = 4;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 2120,
        "wires": [
            [
                "fb69601b138e6096",
                "3ffa4b90340a450b"
            ]
        ]
    },
    {
        "id": "8aef9f5e27f808a2",
        "type": "function",
        "z": "8d3b29f48feb985c",
        "g": "09c2cef9562d2a46",
        "name": "System On",
        "func": "msg.payload = 3;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 2160,
        "wires": [
            [
                "fb69601b138e6096",
                "3ffa4b90340a450b"
            ]
        ]
    },
    {
        "id": "fb69601b138e6096",
        "type": "debug",
        "z": "8d3b29f48feb985c",
        "g": "09c2cef9562d2a46",
        "name": "ESS Switch Position",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 2120,
        "wires": []
    },
    {
        "id": "aa9a97a3d6c907de",
        "type": "victron-input-vebus",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "service": "com.victronenergy.vebus/276",
        "path": "/Mode",
        "serviceObj": {
            "service": "com.victronenergy.vebus/276",
            "name": "MultiPlus"
        },
        "pathObj": {
            "path": "/Mode",
            "type": "enum",
            "name": "Switch Position",
            "enum": {
                "1": "Charger Only",
                "2": "Inverter Only",
                "3": "On",
                "4": "Off"
            }
        },
        "initial": "",
        "name": "",
        "onlyChanges": true,
        "x": 150,
        "y": 1020,
        "wires": [
            [
                "67ea331bffac03a7"
            ]
        ]
    },
    {
        "id": "67ea331bffac03a7",
        "type": "function",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "name": "MP2 On/Off State",
        "func": "if (msg.payload == 3)\n    msg.payload = \"On\";\nelse\n    msg.payload = \"Off\";\nmsg.topic = \"mp2_switch_position\";\nmsg.sendnow = true;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1020,
        "wires": [
            [
                "2638424905d9e622"
            ]
        ]
    },
    {
        "id": "442445439b3c1314",
        "type": "function",
        "z": "8d3b29f48feb985c",
        "g": "9e46f3329af496ae",
        "name": "Limit Setpoint (chrg/dischrg)",
        "func": "let data = context.global.data || {};\nlet max_charge_setpoint = context.global.max_charge_setpoint\nlet min_discharge_setpoint = -context.global.max_discharge_setpoint\nlet ess_setpoint = msg.payload\nnode.warn(\"Setpoint says: \"+ess_setpoint)\n\nif (msg.payload > max_charge_setpoint)\n    msg.payload = max_charge_setpoint;\nelse if (msg.payload < min_discharge_setpoint)\n    msg.payload = min_discharge_setpoint;\n    \ndata[\"original_setpoint\"] = ess_setpoint // save setpoint changes unless they are power adjustments\ncontext.global.setpoint_adjusted = false\nnode.warn(\"Setting Adjusted to False\")\ndata[\"ess_setpoint\"] = ess_setpoint // save the setpoint we started with so we can re-adjust to it later\ncontext.global.data = data\nnode.warn(\"saving original setpoint: \"+ ess_setpoint)\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 200,
        "wires": [
            [
                "824d7a39eb03356e"
            ]
        ]
    },
    {
        "id": "1527d034459a3668",
        "type": "function",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "name": "Actual Battery Capacity",
        "func": "let data = context.global.data || {};\nlet soc = msg.payload;\ndata[\"batt_soc\"] = soc;\nmsg.payload = (context.global.batt_capacity / 100) * soc;\nmsg.topic = \"batt_capacity\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 520,
        "wires": [
            [
                "2638424905d9e622"
            ]
        ]
    },
    {
        "id": "f456fb721ca671d5",
        "type": "delay",
        "z": "8d3b29f48feb985c",
        "g": "9f7e7bb0a86e90c8",
        "name": "Rate Limit",
        "pauseType": "timed",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1060,
        "y": 60,
        "wires": [
            [
                "1bca7eebfc757294"
            ]
        ]
    },
    {
        "id": "2638424905d9e622",
        "type": "link out",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "name": "ToMQTT",
        "mode": "link",
        "links": [
            "84f5b9b1e88bca69"
        ],
        "x": 795,
        "y": 820,
        "wires": []
    },
    {
        "id": "84f5b9b1e88bca69",
        "type": "link in",
        "z": "8d3b29f48feb985c",
        "g": "9f7e7bb0a86e90c8",
        "name": "ToMQTT-Limit",
        "links": [
            "2638424905d9e622",
            "65effef794282240",
            "e46b475b851f5a2d",
            "e2d3436b021427b3",
            "d66f631389c24605",
            "819b8b5bd25157f3",
            "f372c7304a23c6e0",
            "ebe17b0997dc5121",
            "e50fcdcc15023c7c",
            "ffac4e6f1d514e66",
            "45627eabcfed0aa4"
        ],
        "x": 705,
        "y": 60,
        "wires": [
            [
                "ca79c962a3071fd7"
            ]
        ]
    },
    {
        "id": "0ab475386efa005d",
        "type": "link out",
        "z": "8d3b29f48feb985c",
        "g": "b362b271c03a0415",
        "name": "ToMQTT-Direct",
        "mode": "link",
        "links": [
            "171e2947b5815a6e",
            "3d121fa88daf71a5"
        ],
        "x": 605,
        "y": 60,
        "wires": []
    },
    {
        "id": "171e2947b5815a6e",
        "type": "link in",
        "z": "8d3b29f48feb985c",
        "g": "9f7e7bb0a86e90c8",
        "name": "ToMQTT-Direct",
        "links": [
            "1bca7eebfc757294",
            "4770b54da60b48b5",
            "0ab475386efa005d",
            "808a9cae99745e77",
            "c42e7aa67ec2e4bb",
            "751149da5d5a52c1",
            "56a098651b3d1e16",
            "e5fbc786e2d3e25f",
            "3c056975a4c64fd9",
            "94ca4d9426138867",
            "c07a24ed25d071fe"
        ],
        "x": 705,
        "y": 100,
        "wires": [
            [
                "52ee5cac291f0139",
                "6e6b8ea08a2a0d97"
            ]
        ]
    },
    {
        "id": "1bca7eebfc757294",
        "type": "link out",
        "z": "8d3b29f48feb985c",
        "g": "9f7e7bb0a86e90c8",
        "name": "ToMQTT-Direct",
        "mode": "link",
        "links": [
            "171e2947b5815a6e",
            "3d121fa88daf71a5"
        ],
        "x": 1155,
        "y": 60,
        "wires": []
    },
    {
        "id": "4770b54da60b48b5",
        "type": "link out",
        "z": "8d3b29f48feb985c",
        "g": "9f7e7bb0a86e90c8",
        "name": "ToMQTT-Direct",
        "mode": "link",
        "links": [
            "171e2947b5815a6e",
            "3d121fa88daf71a5"
        ],
        "x": 1045,
        "y": 100,
        "wires": []
    },
    {
        "id": "8cf8304d70a2e248",
        "type": "function",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "name": "Send All",
        "func": "let data_msg = context.global.data || {};\nlet data_timestamp = context.global.timetamp || {};\n\nlet atime = Date.now();\n\nfor (var key in data_msg)\n{\n    let timestamp = 0;\n    if (data_timestamp.hasOwnProperty(key)) {\n        timestamp = data_timestamp[key];\n    }\n    if (data_msg.hasOwnProperty(key))\n    {\n        let timediff = (atime - timestamp) / 1000;\n        if (timediff < 60)\n            continue;\n        //node.warn(\"key: \" + key + \", value: \" + data_msg[key] + \", time: \"  + timestamp);\n        msg.topic = key;\n        msg.payload = data_msg[key];\n        msg.sendnow = true;\n        node.send(msg);\n    }\n}\nreturn;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1060,
        "wires": [
            [
                "2638424905d9e622"
            ]
        ]
    },
    {
        "id": "3eb5e0d6dccc045e",
        "type": "inject",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "name": "Timer 60s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1060,
        "wires": [
            [
                "8cf8304d70a2e248"
            ]
        ]
    },
    {
        "id": "97b4e1392e7f4591",
        "type": "victron-input-battery",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "service": "com.victronenergy.battery/277",
        "path": "/History/ChargedEnergy",
        "serviceObj": {
            "service": "com.victronenergy.battery/277",
            "name": "SmartShunt 500A/50mV"
        },
        "pathObj": {
            "path": "/History/ChargedEnergy",
            "type": "float",
            "name": "Charged Energy (kWh)"
        },
        "initial": "",
        "name": "SmartShunt | Battery Charged (kWh)",
        "onlyChanges": true,
        "roundValues": "3",
        "x": 180,
        "y": 660,
        "wires": [
            [
                "dff55a5ecf6fb84d"
            ]
        ]
    },
    {
        "id": "0038a1b9b78b03b1",
        "type": "victron-input-battery",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "service": "com.victronenergy.battery/277",
        "path": "/History/DischargedEnergy",
        "serviceObj": {
            "service": "com.victronenergy.battery/277",
            "name": "SmartShunt 500A/50mV"
        },
        "pathObj": {
            "path": "/History/DischargedEnergy",
            "type": "float",
            "name": "Discharged Energy (kWh)"
        },
        "initial": "",
        "name": "SmartShunt | Battery Discharged (kWh)",
        "onlyChanges": true,
        "roundValues": "3",
        "x": 190,
        "y": 700,
        "wires": [
            [
                "8779a8fae6cbab1b"
            ]
        ]
    },
    {
        "id": "ab96533b5c6b6ecd",
        "type": "victron-input-battery",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "service": "com.victronenergy.battery/277",
        "path": "/Dc/0/Power",
        "serviceObj": {
            "service": "com.victronenergy.battery/277",
            "name": "SmartShunt 500A/50mV"
        },
        "pathObj": {
            "path": "/Dc/0/Power",
            "type": "float",
            "name": "Battery power (W)"
        },
        "initial": "",
        "name": "SmartShunt | Battery Power (W)",
        "onlyChanges": true,
        "roundValues": "2",
        "x": 170,
        "y": 740,
        "wires": [
            [
                "c51446dd8f316fdd"
            ]
        ]
    },
    {
        "id": "c51446dd8f316fdd",
        "type": "function",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "name": "PwrDist",
        "func": "let msg2 = RED.util.cloneMessage(msg);\nmsg2.payload = 0;\nif (msg.payload < 0)\n{\n    msg2.payload = Math.abs(msg.payload);\n    msg.payload = 0;\n}\nreturn [msg, msg2];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 740,
        "wires": [
            [
                "c3fa4f117c8d9f91"
            ],
            [
                "f83bb366c3721b45"
            ]
        ]
    },
    {
        "id": "6d13cac10603fe66",
        "type": "comment",
        "z": "8d3b29f48feb985c",
        "name": "Version 2.2",
        "info": "Last edited: 2025-12-24\n- Moved Battery control into node red\n- Moved Batt IQ Mode into node red\n- Fixed minor overload node issues forcing idle mode\n\nTodo:\n- add Outstanding modes (Grid Balance, Solar balance )",
        "x": 760,
        "y": 320,
        "wires": []
    },
    {
        "id": "1690588ef40df22a",
        "type": "change",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "name": "T=Voltage",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "batt_voltage",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 560,
        "wires": [
            [
                "2638424905d9e622"
            ]
        ]
    },
    {
        "id": "534bcc84ed2012b1",
        "type": "change",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "name": "T=Amps",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "batt_amps",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 620,
        "wires": [
            [
                "2638424905d9e622"
            ]
        ]
    },
    {
        "id": "dff55a5ecf6fb84d",
        "type": "change",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "name": "T=Charged kWh",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "batt_charged_kwh",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 660,
        "wires": [
            [
                "2638424905d9e622"
            ]
        ]
    },
    {
        "id": "8779a8fae6cbab1b",
        "type": "change",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "name": "T=Disharged kWh",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "batt_discharged_kwh",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 700,
        "wires": [
            [
                "2638424905d9e622"
            ]
        ]
    },
    {
        "id": "7e3ce011ce905df4",
        "type": "change",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "name": "T=Setpoint",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ess_setpoint",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "sendnow",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 440,
        "wires": [
            [
                "2638424905d9e622"
            ]
        ]
    },
    {
        "id": "b5fc09490e6b1cd6",
        "type": "change",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "name": "T=SOC",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "batt_soc",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "sendnow",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 480,
        "wires": [
            [
                "2638424905d9e622"
            ]
        ]
    },
    {
        "id": "c3fa4f117c8d9f91",
        "type": "change",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "name": "T=Charged W",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "batt_charged_w",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 740,
        "wires": [
            [
                "2638424905d9e622"
            ]
        ]
    },
    {
        "id": "f83bb366c3721b45",
        "type": "change",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "name": "T=Discharded W",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "batt_discharged_w",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 780,
        "wires": [
            [
                "2638424905d9e622"
            ]
        ]
    },
    {
        "id": "e4c4f61b74e39169",
        "type": "change",
        "z": "8d3b29f48feb985c",
        "g": "61da6231d7299de3",
        "name": "T=Watt L1",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "grid_l1_w",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 1320,
        "wires": [
            [
                "f372c7304a23c6e0"
            ]
        ]
    },
    {
        "id": "a654b14df06a9ae9",
        "type": "change",
        "z": "8d3b29f48feb985c",
        "g": "61da6231d7299de3",
        "name": "T=Watt L2",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "grid_l2_w",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 1400,
        "wires": [
            [
                "f372c7304a23c6e0"
            ]
        ]
    },
    {
        "id": "159833534a73765c",
        "type": "change",
        "z": "8d3b29f48feb985c",
        "g": "61da6231d7299de3",
        "name": "T=Watt L3",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "grid_l3_w",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 1480,
        "wires": [
            [
                "f372c7304a23c6e0"
            ]
        ]
    },
    {
        "id": "cada246f092254da",
        "type": "change",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "name": "T=Temp 1",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "temp_1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 820,
        "wires": [
            [
                "2638424905d9e622"
            ]
        ]
    },
    {
        "id": "5d7f18d2fe1a1e8e",
        "type": "change",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "name": "T=Temp 2",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "temp_2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 860,
        "wires": [
            [
                "2638424905d9e622"
            ]
        ]
    },
    {
        "id": "929b618e5d657887",
        "type": "change",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "name": "T=Temp 3",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "temp_3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 900,
        "wires": [
            [
                "2638424905d9e622"
            ]
        ]
    },
    {
        "id": "55e34641af9446fe",
        "type": "victron-input-battery",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "service": "com.victronenergy.battery/277",
        "path": "/History/ChargedEnergy",
        "serviceObj": {
            "service": "com.victronenergy.battery/277",
            "name": "SmartShunt 500A/50mV"
        },
        "pathObj": {
            "path": "/History/ChargedEnergy",
            "type": "float",
            "name": "Charged Energy (kWh)"
        },
        "name": "Batt Charged kWh",
        "onlyChanges": true,
        "roundValues": "3",
        "x": 130,
        "y": 1100,
        "wires": [
            [
                "8737b4838e1bb454",
                "2dfd1c28c2ca0ebc"
            ]
        ]
    },
    {
        "id": "324544b19534075b",
        "type": "victron-input-battery",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "service": "com.victronenergy.battery/277",
        "path": "/History/DischargedEnergy",
        "serviceObj": {
            "service": "com.victronenergy.battery/277",
            "name": "SmartShunt 500A/50mV"
        },
        "pathObj": {
            "path": "/History/DischargedEnergy",
            "type": "float",
            "name": "Discharged Energy (kWh)"
        },
        "name": "Batt Discharged hWh",
        "onlyChanges": true,
        "roundValues": "3",
        "x": 140,
        "y": 1200,
        "wires": [
            [
                "c05936a093f8f874",
                "9110010eb1c02a9a"
            ]
        ]
    },
    {
        "id": "c05936a093f8f874",
        "type": "debug",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "name": "Batt Discharged Kwh",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 1220,
        "wires": []
    },
    {
        "id": "9110010eb1c02a9a",
        "type": "function",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "name": "report discharged kwh",
        "func": "let kwh=msg.payload*1000\nlet kwhstr=kwh.toString()\nmsg.payload = {\"idx\": 9548,\"nvalue\": 0, \"svalue\": kwhstr}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1180,
        "wires": [
            [
                "59ae98953f9b69cd"
            ]
        ]
    },
    {
        "id": "8737b4838e1bb454",
        "type": "debug",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "name": "Batt Charged Kwh",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 1140,
        "wires": []
    },
    {
        "id": "2dfd1c28c2ca0ebc",
        "type": "function",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "name": "report Charged kwh",
        "func": "let kwh=msg.payload*1000\nlet kwhstr=kwh.toString()\nmsg.payload = {\"idx\": 9547,\"nvalue\": 0, \"svalue\": kwhstr}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1100,
        "wires": [
            [
                "59ae98953f9b69cd"
            ]
        ]
    },
    {
        "id": "59ae98953f9b69cd",
        "type": "mqtt out",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "name": "",
        "topic": "domoticz/in",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ee1bb25c871ce5fc",
        "x": 750,
        "y": 1140,
        "wires": []
    },
    {
        "id": "9d8915e414a76f0e",
        "type": "victron-input-vebus",
        "z": "8d3b29f48feb985c",
        "g": "e904e3df5b7461ca",
        "service": "com.victronenergy.vebus/276",
        "path": "/Energy/AcIn1ToInverter",
        "serviceObj": {
            "service": "com.victronenergy.vebus/276",
            "name": "MultiPlus-II 48/5000/70-50"
        },
        "pathObj": {
            "path": "/Energy/AcIn1ToInverter",
            "type": "float",
            "name": "Energy AcIn1 to Inverter (kWh)"
        },
        "initial": "",
        "name": "Input (kWh)",
        "onlyChanges": true,
        "roundValues": "3",
        "x": 110,
        "y": 1880,
        "wires": [
            [
                "1fbbec3b31fce42a"
            ]
        ]
    },
    {
        "id": "a236b11b7fc6946a",
        "type": "victron-input-vebus",
        "z": "8d3b29f48feb985c",
        "g": "e904e3df5b7461ca",
        "service": "com.victronenergy.vebus/276",
        "path": "/Ac/ActiveIn/L1/P",
        "serviceObj": {
            "service": "com.victronenergy.vebus/276",
            "name": "MultiPlus-II 48/5000/70-50"
        },
        "pathObj": {
            "path": "/Ac/ActiveIn/L1/P",
            "type": "float",
            "name": "Input power phase 1 (W)"
        },
        "initial": "",
        "name": "Input Phase 1 (W)",
        "onlyChanges": true,
        "roundValues": "2",
        "x": 120,
        "y": 1760,
        "wires": [
            [
                "cab032cb2249b5bb"
            ]
        ]
    },
    {
        "id": "65e74659afd2b0bd",
        "type": "join",
        "z": "8d3b29f48feb985c",
        "g": "e904e3df5b7461ca",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 450,
        "y": 1800,
        "wires": [
            [
                "d6e4856191966e9e"
            ]
        ]
    },
    {
        "id": "22394a20ce5a7b95",
        "type": "victron-input-vebus",
        "z": "8d3b29f48feb985c",
        "g": "e904e3df5b7461ca",
        "service": "com.victronenergy.vebus/276",
        "path": "/Ac/ActiveIn/L2/P",
        "serviceObj": {
            "service": "com.victronenergy.vebus/276",
            "name": "MultiPlus"
        },
        "pathObj": {
            "path": "/Ac/ActiveIn/L2/P",
            "type": "float",
            "name": "Input power phase 2 (W)"
        },
        "initial": "",
        "name": "Input Phase 2 (W)",
        "onlyChanges": true,
        "roundValues": "2",
        "x": 120,
        "y": 1800,
        "wires": [
            [
                "57ee548438878441"
            ]
        ]
    },
    {
        "id": "0f019469f8d07b39",
        "type": "victron-input-vebus",
        "z": "8d3b29f48feb985c",
        "g": "e904e3df5b7461ca",
        "service": "com.victronenergy.vebus/276",
        "path": "/Ac/ActiveIn/L3/P",
        "serviceObj": {
            "service": "com.victronenergy.vebus/276",
            "name": "MultiPlus"
        },
        "pathObj": {
            "path": "/Ac/ActiveIn/L3/P",
            "type": "float",
            "name": "Input power phase 3 (W)"
        },
        "initial": "",
        "name": "Input Phase 3 (W)",
        "onlyChanges": true,
        "roundValues": "2",
        "x": 120,
        "y": 1840,
        "wires": [
            [
                "6c95c716e4ab5d1f"
            ]
        ]
    },
    {
        "id": "cab032cb2249b5bb",
        "type": "change",
        "z": "8d3b29f48feb985c",
        "g": "e904e3df5b7461ca",
        "name": "T=phase_1",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "phase_1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 1760,
        "wires": [
            [
                "65e74659afd2b0bd"
            ]
        ]
    },
    {
        "id": "57ee548438878441",
        "type": "change",
        "z": "8d3b29f48feb985c",
        "g": "e904e3df5b7461ca",
        "name": "T=phase_2",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "phase_2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 1800,
        "wires": [
            [
                "65e74659afd2b0bd"
            ]
        ]
    },
    {
        "id": "6c95c716e4ab5d1f",
        "type": "change",
        "z": "8d3b29f48feb985c",
        "g": "e904e3df5b7461ca",
        "name": "T=phase_3",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "phase_3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 1840,
        "wires": [
            [
                "65e74659afd2b0bd"
            ]
        ]
    },
    {
        "id": "d6e4856191966e9e",
        "type": "function",
        "z": "8d3b29f48feb985c",
        "g": "e904e3df5b7461ca",
        "name": "Combine",
        "func": "let total = 0;\nif (msg.payload.phase_1 != null) {\n    total += msg.payload.phase_1;\n}\nif (msg.payload.phase_2 != null) {\n    total += msg.payload.phase_2;\n}\nif (msg.payload.phase_3 != null) {\n    total += msg.payload.phase_3;\n}\nmsg.topic = \"inv_acin_w\"\nmsg.payload = total;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1800,
        "wires": [
            [
                "819b8b5bd25157f3"
            ]
        ]
    },
    {
        "id": "1fbbec3b31fce42a",
        "type": "change",
        "z": "8d3b29f48feb985c",
        "g": "e904e3df5b7461ca",
        "name": "T=inv_acin_kwh",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "inv_acin_kwh",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 1880,
        "wires": [
            [
                "819b8b5bd25157f3"
            ]
        ]
    },
    {
        "id": "819b8b5bd25157f3",
        "type": "link out",
        "z": "8d3b29f48feb985c",
        "g": "e904e3df5b7461ca",
        "name": "ToMQTT",
        "mode": "link",
        "links": [
            "84f5b9b1e88bca69"
        ],
        "x": 725,
        "y": 1840,
        "wires": []
    },
    {
        "id": "f372c7304a23c6e0",
        "type": "link out",
        "z": "8d3b29f48feb985c",
        "g": "61da6231d7299de3",
        "name": "ToMQTT",
        "mode": "link",
        "links": [
            "84f5b9b1e88bca69"
        ],
        "x": 725,
        "y": 1340,
        "wires": []
    },
    {
        "id": "d5ba4bcb0468fbf1",
        "type": "change",
        "z": "8d3b29f48feb985c",
        "g": "61da6231d7299de3",
        "name": "T=et_phase_1",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "et_phase_1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 1360,
        "wires": [
            [
                "48fff1d72fed0b87"
            ]
        ]
    },
    {
        "id": "a998a9a4eb633448",
        "type": "change",
        "z": "8d3b29f48feb985c",
        "g": "61da6231d7299de3",
        "name": "T=et_phase_2",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "et_phase_2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 1440,
        "wires": [
            [
                "48fff1d72fed0b87"
            ]
        ]
    },
    {
        "id": "32175fee5146afea",
        "type": "change",
        "z": "8d3b29f48feb985c",
        "g": "61da6231d7299de3",
        "name": "T=et_phase_3",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "et_phase_3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 1520,
        "wires": [
            [
                "48fff1d72fed0b87"
            ]
        ]
    },
    {
        "id": "48fff1d72fed0b87",
        "type": "join",
        "z": "8d3b29f48feb985c",
        "g": "61da6231d7299de3",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 450,
        "y": 1440,
        "wires": [
            [
                "358c46e08f21676c",
                "c022f5482e4936a0"
            ]
        ]
    },
    {
        "id": "358c46e08f21676c",
        "type": "function",
        "z": "8d3b29f48feb985c",
        "g": "61da6231d7299de3",
        "name": "Combine",
        "func": "let total = 0;\nif (msg.payload.et_phase_1 != null) {\n    total += msg.payload.et_phase_1;\n}\nif (msg.payload.et_phase_2 != null) {\n    total += msg.payload.et_phase_2;\n}\nif (msg.payload.et_phase_3 != null) {\n    total += msg.payload.et_phase_3;\n}\nmsg.topic = \"grid_total_w\"\nmsg.payload = total;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1400,
        "wires": [
            [
                "f372c7304a23c6e0",
                "7379c2bee96ee81d"
            ]
        ]
    },
    {
        "id": "c022f5482e4936a0",
        "type": "debug",
        "z": "8d3b29f48feb985c",
        "g": "61da6231d7299de3",
        "name": "Total Watt",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 1440,
        "wires": []
    },
    {
        "id": "7379c2bee96ee81d",
        "type": "debug",
        "z": "8d3b29f48feb985c",
        "g": "61da6231d7299de3",
        "name": "Combined W",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 1400,
        "wires": []
    },
    {
        "id": "7fd426c7ab23f005",
        "type": "function",
        "z": "8d3b29f48feb985c",
        "g": "05bc2ab263663dde",
        "name": "Power Monitor",
        "func": "let data = context.global.data;\nlet sp = data[\"ess_setpoint\"] || 0;\nlet original_sp = data[\"original_setpoint\"];\nlet max = context.global.max_charge_setpoint;\nlet max_phase = context.global.max_phase_power;\nlet min = -context.global.max_discharge_setpoint;\nlet idle_rate = context.global.idle_rate;\nlet adjusted = context.global.setpoint_adjusted || false;\nlet p1 = data[\"grid_l1_w\"] || 0;\nlet p2 = data[\"grid_l2_w\"] || 0;\nlet p3 = data[\"grid_l3_w\"] || 0;\nlet new_sp = sp;\nlet num_multi = context.global.number_of_multiplus;\n//node.warn(\"P1, P2, P3 \" + p1 + \" \" + p2 + \" \" + p3)\n//node.warn(\"sp \" + sp)\n//node.warn(\"In Power Monitor, adjusted is \"+adjusted)\n\nif (adjusted == false) {\n    if (((p1 > max_phase) || (p2 > max_phase) || (p3 > max_phase)) && (sp > idle_rate)) {\n        // charge\n        node.warn(\"Charge overload adjust\");\n\t    let highest_phase_power = Math.max(p1,p2,p3);           // phase with the highest load\n\t    let delta = highest_phase_power - max_phase;            // how much over the max for the phase\n\t    new_sp = Math.ceil(sp - (delta * num_multi));           // lower for each inverter as one setpoint for all\n\t    //node.warn(\"Diff is \"+delta+\" for a new setpoint of \"+new_sp);\n\t    if (new_sp < 0) {                                        // lets not switch to a discharge state\n    \t    // prevent a discharge so go to idle\n\t        new_sp = idle_rate;\n\t    }\n\t    node.warn(\"Setting new setpoint now to \"+new_sp);\n\t    context.global.setpoint_adjusted = true;\n\t    context.global.data[\"original_setpoint\"] = sp;\n    }\n    else if (((p1 < -max_phase) || (p2 < -max_phase) ||  (p3 < -max_phase)) && (sp < 0)) { \n        // discharge\n        node.warn(\"Discharge overload adjust\");\n\t    let highest_phase_power = Math.min(p1,p2,p3);           // phase with the highest load\n\t    let delta = highest_phase_power + max_phase;            // how much over the max for the phase\n\t    new_sp = Math.floor(sp - (delta * num_multi));          // increase for each inverter as one setpoint for all\n\t    if (new_sp > 0) {                                        // lets not switch to a charge state\n    \t    // prevent to adust to charge in a discharge state\n\t        new_sp = -1;\n\t    }\n\t    node.warn(\"Setting new setpoint now to \"+new_sp);\n\t    context.global.setpoint_adjusted = true;\n\t    context.global.data[\"original_setpoint\"] = sp;\n    }\n}\nelse { // the setpoint was adjusted, check if we can re-adjust \n\tif (sp > 0) {                                     // charging in an adjusted state\n        node.warn(\"In Charge re-adjust\");\n\t\tlet highest_phase_power = Math.max(p1, p2, p3);     // find the phase with the highest power\n\t\tlet delta = max_phase - highest_phase_power;        // see if there is room to adjust\n\t\t//node.warn(\"Delta \"+delta);\n\t \tif (delta > 150) {                                   // only adjust if the diff is > 150W\n\t\t\tnew_sp = Math.ceil(Math.min((sp + (delta * num_multi)), original_sp)); // add the delta to the setpoint but do not exceed original_setpoint\n\t\t\tnode.warn(\"Re-adjusting SP from \"+sp+\" to \"+new_sp+ \" original was \"+original_sp);\n\t\t\tif (new_sp == original_sp) {\n\t\t\t\tcontext.global.setpoint_adjusted = false;     // we are back at the original setpoint so set adjusted to false\n\t\t\t\t//node.warn(\"adjusted == false \" + new_sp + \" \" + original_sp);\n\t\t\t}\n\t\t}\n\t}\n\telse if (sp < 0) {                                       // discharging in an adjusted stage\n        node.warn(\"Discharge re-adjust\")\n\t\tlet highest_phase_power = Math.min(p1, p2, p3);     // find the phase with the highest (negative) power\n\t\tlet delta = -max_phase - highest_phase_power;       // see if there is room to adjust\n\t\t//node.warn(\"Delta \"+delta);\n\t \tif (delta < -150) {                                   // only adjust of diff > 150W\n\t\t\tnew_sp = Math.floor(Math.max((sp + (delta * num_multi)), original_sp)); //add the delta to the setpoint but do not exceed original_setpoint\n\t\t\tnode.warn(\"Re-adjusting SP to \"+new_sp);\n\t\t\tif (new_sp == original_sp) {\n\t\t\t\tcontext.global.setpoint_adjusted = false;     // we are back at the original setpoint so set adjusted to false\n\t\t\t\t//node.warn(\"adjusted == false \" + new_sp + \" \" + original_sp);\n\t\t\t}\n\t\t}\n\t}\n}\n//node.warn(\"The end, sp: \"+sp+\" new: \"+new_sp);\n\nif (new_sp != sp) {                                          // only adjust of the setpoint has changed\n\tmsg.payload = new_sp;\n\tdata[\"ess_setpoint\"] = new_sp; // this would be handled with the next victron setpoint update but for debugging\n\tnode.warn(\"Setting new setpoint now to \"+new_sp)\n\tcontext.global.data = data;\n\treturn msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1660,
        "wires": [
            [
                "51c59a043f433e82",
                "0460462083e78ff0",
                "7f1f55894fcbda14"
            ]
        ]
    },
    {
        "id": "51c59a043f433e82",
        "type": "debug",
        "z": "8d3b29f48feb985c",
        "g": "05bc2ab263663dde",
        "name": "Grid Overload Adjust",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 1660,
        "wires": []
    },
    {
        "id": "aacbe0c5d5d3ed9d",
        "type": "inject",
        "z": "8d3b29f48feb985c",
        "g": "05bc2ab263663dde",
        "name": "Every 10 secs",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1660,
        "wires": [
            [
                "7fd426c7ab23f005"
            ]
        ]
    },
    {
        "id": "d8b87ec184ee0386",
        "type": "debug",
        "z": "8d3b29f48feb985c",
        "g": "9e46f3329af496ae",
        "name": "New SP received",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 235,
        "y": 200,
        "wires": [],
        "l": false
    },
    {
        "id": "0460462083e78ff0",
        "type": "function",
        "z": "8d3b29f48feb985c",
        "g": "05bc2ab263663dde",
        "name": "Log SP adjust to domo log",
        "func": "let sp = msg.payload;\nlet txt = \"Victron overload adjust to \"+sp;\nmsg.payload = txt\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1620,
        "wires": [
            [
                "0b2f6c937ecdd315"
            ]
        ]
    },
    {
        "id": "710801df7a9dc15f",
        "type": "ui_text",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "group": "482140b3ae8976c9",
        "order": 6,
        "width": "6",
        "height": "1",
        "name": "Amps",
        "label": "",
        "format": "{{msg.payload}} Amps",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Verdana,Verdana,Geneva,sans-serif",
        "fontSize": 16,
        "color": "#f34f96",
        "x": 390,
        "y": 640,
        "wires": []
    },
    {
        "id": "8973442a5c9052aa",
        "type": "ui_text",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "group": "482140b3ae8976c9",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Charger state",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Verdana,Verdana,Geneva,sans-serif",
        "fontSize": 16,
        "color": "#eeff00",
        "x": 760,
        "y": 940,
        "wires": []
    },
    {
        "id": "f8de4ba8bb88da0f",
        "type": "ui_chart",
        "z": "8d3b29f48feb985c",
        "g": "b699493a4e613ac0",
        "name": "Setpoint chart",
        "group": "482140b3ae8976c9",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "Setpoint",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "No data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 420,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "20679d9650260f27",
        "type": "mqtt in",
        "z": "8d3b29f48feb985c",
        "g": "b362b271c03a0415",
        "name": "",
        "topic": "domoticz/startup",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ee1bb25c871ce5fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 60,
        "wires": [
            [
                "3391833f0a3beec6"
            ]
        ]
    },
    {
        "id": "3391833f0a3beec6",
        "type": "function",
        "z": "8d3b29f48feb985c",
        "g": "b362b271c03a0415",
        "name": "true",
        "func": "if (msg.payload == true)\n    return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 60,
        "wires": [
            [
                "b970c5ce031efaf2"
            ]
        ]
    },
    {
        "id": "b8e9c6b1bc213022",
        "type": "inject",
        "z": "8d3b29f48feb985c",
        "g": "dc7bd95e3d68dfe3",
        "name": "Every 5 minutes",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "*/5 0-23 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 2740,
        "wires": [
            [
                "99a90d423d8cd99b"
            ]
        ]
    },
    {
        "id": "99a90d423d8cd99b",
        "type": "function",
        "z": "8d3b29f48feb985c",
        "g": "dc7bd95e3d68dfe3",
        "name": "BattIQMode",
        "func": "// Globals\n\nlet data = context.global.data;\nmin_soc = context.global.min_soc;\nmax_soc = context.global.max_soc;\n//min_soc_overnight_level = context.global.min_soc_overnight;\nidle_rate = context.global.idle_rate;\ncharge_rate = context.global.charge_rate;\ndischarge_rate = context.global.discharge_rate;\n\n// Locals\nlet new_setpoint = idle_rate;\nlet ess_setpoint = data[\"ess_setpoint\"];\nlet batt_soc = data[\"batt_soc\"];\nlet index_str = \"\"\nlet scheme = context.global.scheme_today;\nlet batt_mode = \"\";\n\n// Constants\nconst date = new Date();\nconst min = date.getMinutes();\nconst hour = date.getHours();\n\nlet y = date.getFullYear()\nlet month = date.getMonth()+1\nlet day = date.getDate()\nlet m = (\"0\" + month).slice(-2)\nlet d = (\"0\" + day).slice(-2)\nlet ymd = y+\"-\"+m+\"-\"+d;\n\nmsg.inform_domo = false;\n//node.warn(\"Date checking today \" + ymd + \" with \" + context.global.scheme_today.datum)\n//node.warn(\"Context data: \" + context.global.data[\"batt_mode\"])\n\nif (context.global.data[\"batt_mode\"] != \"IQ Smart Mode\") {\n    // not in IQ Smart mode so do nothing\n    return;\n}\nif (context.global.scheme_today === 'undefined') {\n    txt = \"Victron has no scheme_today\";\n    msg.inform_domo = true\n    msg.domo_msg = txt\n    node.warn(txt)\n    msg.payload = idle_rate;\n    return msg;\n}\nif (context.global.scheme_today.datum != ymd) {\n    // we don't have the right schedule so use idle instead\n    txt = \"Date mismatch, checking today \" + ymd + \" with \" + context.global.scheme_today.datum;\n    msg.inform_domo = true\n    msg.domo_msg = txt\n    node.warn(txt)\n    msg.payload = idle_rate;\n    return msg;\n}\n\nlet minutes = 0;\nif (min < 15) {\n    //node.log(\"set minutes to 0\");\n    minutes = 0;\n}\nelse if (min < 30) {\n    //node.log(\"set minutes to 15\");\n    minutes = 15;\n}\nelse if (min < 45) {\n    //node.log(\"set minutes to 30\");\n    minutes = 30;\n}\nelse {\n    //node.log(\"set minutes to 45\");\n    minutes = 45;\n}\n// node.log(\"minutes set to \"+ minutes)\n\nif (hour < 10) {\n    index_str = \"0\"+hour;\n    if (minutes == 0) {\n        index_str += \":00\";\n    }\n    else {\n        index_str += \":\"+minutes;\n    }\n}\nelse {\n    if (minutes < 10) {\n        index_str = hour+\":0\"+minutes;\n    }\n    else {\n        index_str = hour+\":\"+minutes;\n    } \n}\n//node.warn(\"getting mode for \"+index_str)\n//node.warn(scheme)\nbatt_mode = scheme[index_str].hour_type;\n\nnode.warn(\"victron: IQ Mode says: \"+batt_mode);\n\nif (batt_mode == \"charge\") {\n    new_setpoint = charge_rate;\n}\nelse if (batt_mode == \"discharge\") {\n    new_setpoint = discharge_rate;\n}\nelse if (batt_mode == \"idle\") {\n    new_setpoint = idle_rate;\n}\n\nmsg.payload = new_setpoint;\n\n// switch to idle if at min and discharging\nif ((new_setpoint < 0) && (batt_soc <= min_soc)){\n    msg.payload = idle_rate;\n    msg.domo_msg = \"No more discharging needed, battery is at min, Batt mode is \" + batt_mode + \" setpoint is \" + msg.payload;\n    node.warn(msg.domo_msg);\n    msg.inform_domo = true;\n    new_setpoint = idle_rate;\n    batt_mode = \"idle\";\n}\n\n// switch to idle if at max AND charging AND in Float (i.e. enable power during absorption)\nlet charge_state = data[\"charge_state\"]\nif ((new_setpoint > idle_rate) && (batt_soc == max_soc) && (charge_state == \"Float\")) {\n    msg.payload = idle_rate;\n    msg.domo_msg = \"No more charging needed, we are full and in float, Batt mode is \" + batt_mode + \" setpoint is \" + msg.payload;\n    msg.inform_domo = true;\n    node.warn(msg.domo_msg);\n    new_setpoint = idle_rate;\n    batt_mode = \"idle\";\n}\n\nif (ess_setpoint != new_setpoint) {\n    msg.payload = new_setpoint;\n    context.global.setpoint_adjusted = false;\n    if (msg.inform_domo == false) {\n        // no plan to report status so inform setpoint change\n        msg.inform_domo = true;\n        msg.domo_msg = \"Victron: change setpoint, mode is \"+batt_mode + \" setting setpoint to \"+new_setpoint+ \" from \"+ess_setpoint+\" and charge state \"+data[\"charge_state\"];+\"-\"\n        node.warn(msg.domo_msg);\n    }\n}\n\nif ((min == 0) || (min == 15) || (min == 30) || (min == 45)) {\n    if (msg.inform_domo == false) {\n        // no plan to report status so do it now\n        msg.inform_domo = true;\n        msg.domo_msg = \"Victron: keep setpoint, mode is \"+ batt_mode + \" with setpoint \"+new_setpoint\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 2740,
        "wires": [
            [
                "bb22a74d34f44c62",
                "308488716b4a1ceb",
                "5d6a2e200fb8faa7"
            ]
        ]
    },
    {
        "id": "59660e1586e1ec48",
        "type": "link out",
        "z": "8d3b29f48feb985c",
        "g": "dc7bd95e3d68dfe3",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "44d07b9e813b1e68"
        ],
        "x": 905,
        "y": 2700,
        "wires": []
    },
    {
        "id": "232141417a05794e",
        "type": "mqtt in",
        "z": "8d3b29f48feb985c",
        "g": "dc7bd95e3d68dfe3",
        "name": "Tibber charging rates today",
        "topic": "tibber_data/new_scheme_today/state",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ee1bb25c871ce5fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 2700,
        "wires": [
            [
                "a317260c5a3441e9",
                "d11013ed692bd256"
            ]
        ]
    },
    {
        "id": "a317260c5a3441e9",
        "type": "function",
        "z": "8d3b29f48feb985c",
        "g": "dc7bd95e3d68dfe3",
        "name": "Save received rates",
        "func": "if (msg.topic == \"tibber_data/new_scheme_tomorrow/state\") {\n    context.global.scheme_tomorrow = msg.payload;\n    msg.payload = \"Victron tomorrow rates received\"\n}\nelse {\n    context.global.scheme_today = msg.payload;\n    msg.payload = \"Victron today rates received\"\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2700,
        "wires": [
            [
                "2317ba8453921b8c",
                "59660e1586e1ec48"
            ]
        ]
    },
    {
        "id": "2317ba8453921b8c",
        "type": "debug",
        "z": "8d3b29f48feb985c",
        "g": "dc7bd95e3d68dfe3",
        "name": "Rates received",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 635,
        "y": 2700,
        "wires": [],
        "l": false
    },
    {
        "id": "63b7eaa456c6f9ab",
        "type": "debug",
        "z": "8d3b29f48feb985c",
        "g": "dc7bd95e3d68dfe3",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 505,
        "y": 2820,
        "wires": [],
        "l": false
    },
    {
        "id": "d11013ed692bd256",
        "type": "debug",
        "z": "8d3b29f48feb985c",
        "g": "dc7bd95e3d68dfe3",
        "name": "Tibber rates received",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 2660,
        "wires": []
    },
    {
        "id": "bb22a74d34f44c62",
        "type": "function",
        "z": "8d3b29f48feb985c",
        "g": "dc7bd95e3d68dfe3",
        "name": "Inform domo",
        "func": "//node.warn(\"inform says: \"+msg.inform_domo);\nif (msg.inform_domo == true) {\n    msg.payload = msg.domo_msg\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 2740,
        "wires": [
            [
                "59660e1586e1ec48"
            ]
        ]
    },
    {
        "id": "01dbdaf6a544d019",
        "type": "mqtt in",
        "z": "8d3b29f48feb985c",
        "g": "dc7bd95e3d68dfe3",
        "name": "Tibber charging rates tomorrow",
        "topic": "tibber_data/new_scheme_tomorrow/state",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ee1bb25c871ce5fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 2660,
        "wires": [
            [
                "a317260c5a3441e9",
                "d11013ed692bd256"
            ]
        ]
    },
    {
        "id": "16da8953d192ab30",
        "type": "inject",
        "z": "8d3b29f48feb985c",
        "g": "dc7bd95e3d68dfe3",
        "name": "23:58",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "58 23 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 2820,
        "wires": [
            [
                "390279dcded85e0f"
            ]
        ]
    },
    {
        "id": "390279dcded85e0f",
        "type": "function",
        "z": "8d3b29f48feb985c",
        "g": "dc7bd95e3d68dfe3",
        "name": "Scheme cutover",
        "func": "context.global.scheme_today = context.global.scheme_tomorrow;\nmsg.domo_msg = \"Victron: Switching over day rates\"; \nmsg.inform_domo = true;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2820,
        "wires": [
            [
                "bb22a74d34f44c62",
                "63b7eaa456c6f9ab"
            ]
        ]
    },
    {
        "id": "69a2629d096d7a9c",
        "type": "mqtt out",
        "z": "8d3b29f48feb985c",
        "g": "b362b271c03a0415",
        "name": "",
        "topic": "victron/startup",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ee1bb25c871ce5fc",
        "x": 480,
        "y": 100,
        "wires": []
    },
    {
        "id": "7b32bfae6afab439",
        "type": "function",
        "z": "8d3b29f48feb985c",
        "g": "09c2cef9562d2a46",
        "name": "Set Charge",
        "func": "// this node handles a request to charge\n// Variables\nlet data = context.global.data;\nlet batt_soc = data[\"batt_soc\"];\nlet charge_state = data[\"charge_state\"];\n\n//Globals\nlet max_soc = context.global.max_soc;\nlet idle_rate = context.global.idle_rate;\nlet charge_rate = context.global.charge_rate;\n\nlet txt=\"\";\n\n// charge is requested, only charge if not at max_soc\nif (batt_soc < max_soc) {\n    msg.payload = charge_rate;\n    txt=\"Victron: Charge starting at \"+charge_rate;\n    node.warn(txt);\n    msg.batt_mode = \"Charge\";\n    context.global.setpoint_adjusted = false;\n}\nelse { \n    // batt == max_soc\n    if (charge_state == 'Float') {\n        txt=\"Victron: Battery already full, switching to idle\"\n        node.warn(txt)\n        msg.payload = idle_rate;\n        msg.batt_mode = \"Idle\"\n    }\n    else {\n        msg.payload = charge_rate;\n        txt=\"Victron: Charge starting at \"+charge_rate;\n        node.warn(txt);\n        msg.batt_mode = \"Charge\";\n        context.global.setpoint_adjusted = false;\n    }\n}\nmsg.inform_domo = true;\nmsg.domo_msg = txt;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 2200,
        "wires": [
            [
                "fb69601b138e6096",
                "d14625af14055f20",
                "3289791d00f40465",
                "f2c94a03e44ac36d",
                "51c0cfb742f07a47"
            ]
        ]
    },
    {
        "id": "fb1468d9f802e21c",
        "type": "function",
        "z": "8d3b29f48feb985c",
        "g": "09c2cef9562d2a46",
        "name": "Set Discharge",
        "func": "// this node handles discharge requests\n// Variables\nlet data = context.global.data;\nlet batt_soc = data[\"batt_soc\"];\nlet batt_mode = context.global.data[\"batt_mode\"];\n\n//Globals\nlet min_soc = context.global.min_soc;\nlet idle_rate = context.global.idle_rate;\nlet discharge_rate = context.global.discharge_rate;\nlet txt = \"\";\n\n// discharge is requested, only discharge if > min_soc\nif (batt_soc > min_soc){\n    msg.payload = discharge_rate;\n    txt=\"Victron: Discharge starting at \"+discharge_rate\n    node.warn(txt)\n    msg.batt_mode = \"Discharge\";\n    context.global.setpoint_adjusted = false;\n}\nelse {\n    txt=\"Victron: Battery at minimum, switching to idle\"\n    node.warn(txt)\n    msg.payload = idle_rate;\n    msg.batt_mode = \"Idle\"\n}\nmsg.inform_domo = true\nmsg.domo_msg = txt;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 2240,
        "wires": [
            [
                "fb69601b138e6096",
                "d14625af14055f20",
                "3289791d00f40465",
                "f2c94a03e44ac36d",
                "51c0cfb742f07a47"
            ]
        ]
    },
    {
        "id": "9e15b637df84d87f",
        "type": "function",
        "z": "8d3b29f48feb985c",
        "g": "09c2cef9562d2a46",
        "name": "Set Idle",
        "func": "// This node handles idle requests\n\nlet data = context.global.data;\nlet idle_rate = context.global.idle_rate;\nlet batt_mode = data[\"batt_mode\"] = \"Idle\"\nlet ess_setpoint = data[\"ess_setpoint\"];\n\n// idle is requested, only switch to idle if not in idle already\nif (ess_setpoint != idle_rate) {\n    node.warn(\"Victron: Requesting idle at \"+idle_rate)\n    msg.payload = idle_rate;\n    msg.inform_domo = true\n    msg.domo_msg = \"Victron: Idling at \"+idle_rate;\n    msg.batt_mode = \"Idle\"\n    return msg;\n}\nelse {\n    node.warn(\"Already in Idle so nothing to do\")\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 2280,
        "wires": [
            [
                "fb69601b138e6096",
                "d14625af14055f20",
                "3289791d00f40465",
                "f2c94a03e44ac36d",
                "51c0cfb742f07a47"
            ]
        ]
    },
    {
        "id": "d14625af14055f20",
        "type": "function",
        "z": "8d3b29f48feb985c",
        "g": "09c2cef9562d2a46",
        "name": "Inform domo",
        "func": "//node.warn(\"inform says: \"+msg.domo_msg);\nif (msg.inform_domo == true) {\n    msg.payload = msg.domo_msg\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 2280,
        "wires": [
            [
                "031b9cbf3eb7ea67"
            ]
        ]
    },
    {
        "id": "031b9cbf3eb7ea67",
        "type": "link out",
        "z": "8d3b29f48feb985c",
        "g": "09c2cef9562d2a46",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "44d07b9e813b1e68"
        ],
        "x": 1035,
        "y": 2280,
        "wires": []
    },
    {
        "id": "3289791d00f40465",
        "type": "function",
        "z": "8d3b29f48feb985c",
        "g": "09c2cef9562d2a46",
        "name": "Battery Mode",
        "func": "//node.warn(\"battmode is\"+msg.batt_mode +\" and \"+context.global.data[\"batt_mode\"])\nif (typeof msg.batt_mode !== 'undefined') {\n    if (msg.batt_mode != context.global.data[\"batt_mode\"]){\n        msg.topic = \"batt_mode\";\n        msg.sendnow = true;\n        msg.payload = msg.batt_mode;\n        return(msg);\n    }\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 2240,
        "wires": [
            [
                "e50fcdcc15023c7c"
            ]
        ]
    },
    {
        "id": "554f27d183597978",
        "type": "debug",
        "z": "8d3b29f48feb985c",
        "g": "09c2cef9562d2a46",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 215,
        "y": 2220,
        "wires": [],
        "l": false
    },
    {
        "id": "9afbd51431392557",
        "type": "victron-input-system",
        "z": "8d3b29f48feb985c",
        "g": "09c2cef9562d2a46",
        "service": "com.victronenergy.system/0",
        "path": "/Dc/Battery/Soc",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus system"
        },
        "pathObj": {
            "path": "/Dc/Battery/Soc",
            "type": "float",
            "name": "Battery State of Charge (%)"
        },
        "name": "Venus Battery | State of Charge (%)",
        "onlyChanges": true,
        "roundValues": "1",
        "x": 180,
        "y": 2520,
        "wires": [
            [
                "2f9c61d13cdca117"
            ]
        ]
    },
    {
        "id": "2f9c61d13cdca117",
        "type": "function",
        "z": "8d3b29f48feb985c",
        "g": "09c2cef9562d2a46",
        "name": "Idle near SOC Min/Max",
        "func": "/*\n  this node gets called with every battery SOC change as well as on chate state change (bulk, float)\n  it checks if near min or max+float and switches to idle if so\n*/\n\n// Variables\nlet data = context.global.data;\nlet batt_soc = data[\"batt_soc\"];\nlet batt_mode = data[\"batt_mode\"];\nlet charge_state = data[\"charge_state\"];\nlet ess_setpoint = data[\"ess_setpoint\"]\n\n// Globals\nlet max_soc = context.global.max_soc;\nlet min_soc = context.global.min_soc;\nlet idle_rate = context.global.idle_rate;\nlet charge_rate = context.global.charge_rate;\n\nlet txt=\"\";\n\n// check if SOC is near min or max and adjust of so\nif ((ess_setpoint > idle_rate) && (batt_soc == max_soc)) {\n    if (charge_state != \"Float\") {\n        // either in charge or bulk so continue\n        node.warn(\"Check SOC near end: not in float\")\n        msg.payload = charge_rate;\n        txt=\"Victron: Continue Charge because not in Float, at \"+charge_rate;\n        node.warn(txt);\n        msg.domo_msg = txt;\n        msg.batt_mode = context.global.data[\"batt_mode\"]\n        msg.inform_domo = true;\n        return(msg);\n    }\n    else {\n        // max_soc reached and we are in float\n        node.warn(\"Check SOC near end: in float so idle\")\n        msg.payload = idle_rate;\n        if (context.global.data[\"batt_mode\"] != \"IQ Smart Mode\") {\n            msg.batt_mode = \"Idle\";\n        }\n        else {\n            msg.batt_mode = context.global.data[\"batt_mode\"]\n        }\n        txt=\"Victron: End of Charge reached, in float so switching to idle!\";\n        node.warn(txt);\n        msg.domo_msg = txt;\n        msg.inform_domo = true;\n        return(msg)\n    }\n}\n\nif ((ess_setpoint < 0) && (batt_soc <= min_soc)) {\n    // at the end of discharge so switch to idle\n    msg.payload = idle_rate;\n    node.warn(\"Check SOC near end: at min soc so idle\")\n\n    if (batt_mode != \"IQ Smart Mode\") { \n        context.global.data[\"batt_mode\"] = \"Idle\";\n    }\n    else {\n        msg.batt_mode = context.global.data[\"batt_mode\"];\n    }\n    txt=\"Victron: End of Discharge reached, switching to idle!\";\n    node.warn(txt);\n    msg.domo_msg = txt;\n    msg.inform_domo = true;\n    return(msg)\n}\n\n/*\n  we should not end up here as:\n    Discharging should not happen below min_soc and\n    max_soc during Charge get's handled above\n*/\n\nif (batt_mode != \"Idle\") {\n    if (((batt_soc < min_soc) && (batt_mode == \"Discharge\")) || ((batt_soc == max_soc) && (charge_state != \"Float\"))) {\n        // Oops... should not be here ...\n        msg.payload = idle_rate;\n        context.global.data[\"batt_mode\"] = \"Idle\";\n        txt=\"Victron: Something weird happened, exception not trapped, switching to idle!\";\n        node.warn(txt);\n        msg.batt_mode = \"Idle\";\n        msg.domo_msg = txt;\n        msg.inform_domo = true;\n        return(msg)\n    }\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 2500,
        "wires": [
            [
                "d14625af14055f20",
                "3289791d00f40465",
                "9f462166733487a1",
                "51c0cfb742f07a47"
            ]
        ]
    },
    {
        "id": "78102c3f64e2de32",
        "type": "mqtt in",
        "z": "8d3b29f48feb985c",
        "g": "dc7bd95e3d68dfe3",
        "name": "Battery Mode",
        "topic": "my_victron/set/batt_mode",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ee1bb25c871ce5fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 2780,
        "wires": [
            [
                "656d79841f2b968b"
            ]
        ]
    },
    {
        "id": "656d79841f2b968b",
        "type": "switch",
        "z": "8d3b29f48feb985c",
        "g": "dc7bd95e3d68dfe3",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "IQ Smart Mode",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 290,
        "y": 2780,
        "wires": [
            [
                "99a90d423d8cd99b",
                "563c9ef40f7e3e50"
            ]
        ]
    },
    {
        "id": "563c9ef40f7e3e50",
        "type": "debug",
        "z": "8d3b29f48feb985c",
        "g": "dc7bd95e3d68dfe3",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 455,
        "y": 2780,
        "wires": [],
        "l": false
    },
    {
        "id": "f2c94a03e44ac36d",
        "type": "debug",
        "z": "8d3b29f48feb985c",
        "g": "09c2cef9562d2a46",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 835,
        "y": 2200,
        "wires": [],
        "l": false
    },
    {
        "id": "9f462166733487a1",
        "type": "debug",
        "z": "8d3b29f48feb985c",
        "g": "09c2cef9562d2a46",
        "name": "SOC Monitor",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 775,
        "y": 2500,
        "wires": [],
        "l": false
    },
    {
        "id": "e50fcdcc15023c7c",
        "type": "link out",
        "z": "8d3b29f48feb985c",
        "g": "09c2cef9562d2a46",
        "name": "ToMQTT",
        "mode": "link",
        "links": [
            "84f5b9b1e88bca69"
        ],
        "x": 1035,
        "y": 2240,
        "wires": []
    },
    {
        "id": "0b2f6c937ecdd315",
        "type": "link out",
        "z": "8d3b29f48feb985c",
        "g": "05bc2ab263663dde",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "44d07b9e813b1e68"
        ],
        "x": 735,
        "y": 1620,
        "wires": []
    },
    {
        "id": "cb51f6a8d0f024b5",
        "type": "function",
        "z": "8d3b29f48feb985c",
        "g": "09c2cef9562d2a46",
        "name": "Update Battery State",
        "func": "/*\n  this node sets the batt_state and reports to domoticz\n  it get's called on setpoint changes\n*/\n\nmsg.topic = \"batt_state\";\nmsg.sendnow = true;\nlet setpoint = msg.payload;\nlet batt_state = \"\"\n\n// Variables\nlet data = context.global.data;\n\n// Globals\nlet idle_rate = context.global.idle_rate;\n\nif (data[\"batt_mode\"] == \"Off\"){\n    batt_state = \"Off\";\n}\nelse if (setpoint > idle_rate){\n    batt_state = \"Charging\";\n}\nelse if (setpoint < 0){\n    batt_state = \"Discharging\";\n}\nelse {\n    batt_state = \"Idle\";\n}\n\nnode.warn(\"Batt state setpoint \"+setpoint + \" and state \" + batt_state)\nif (batt_state != data[\"batt_state\"]) {\n    context.global.data[\"batt_state\"] = batt_state;\n    msg.payload = batt_state;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 2440,
        "wires": [
            [
                "e50fcdcc15023c7c",
                "d6cb2b7bfe2ce086"
            ]
        ]
    },
    {
        "id": "d6cb2b7bfe2ce086",
        "type": "debug",
        "z": "8d3b29f48feb985c",
        "g": "09c2cef9562d2a46",
        "name": "Batt State report",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 775,
        "y": 2440,
        "wires": [],
        "l": false
    },
    {
        "id": "465101cecd27549b",
        "type": "victron-input-ess",
        "z": "8d3b29f48feb985c",
        "g": "09c2cef9562d2a46",
        "service": "com.victronenergy.settings",
        "path": "/Settings/CGwacs/AcPowerSetPoint",
        "serviceObj": {
            "service": "com.victronenergy.settings",
            "name": "Venus settings"
        },
        "pathObj": {
            "path": "/Settings/CGwacs/AcPowerSetPoint",
            "type": "integer",
            "name": "Grid set-point (W)"
        },
        "name": "Venus | Grid set-point (W)",
        "onlyChanges": true,
        "x": 150,
        "y": 2440,
        "wires": [
            [
                "cb51f6a8d0f024b5"
            ]
        ]
    },
    {
        "id": "b4d0ec2f6a3fb0ce",
        "type": "inject",
        "z": "8d3b29f48feb985c",
        "g": "09c2cef9562d2a46",
        "name": "5 Min ping",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 2560,
        "wires": [
            [
                "a3169756890e06b6"
            ]
        ]
    },
    {
        "id": "a3169756890e06b6",
        "type": "function",
        "z": "8d3b29f48feb985c",
        "g": "09c2cef9562d2a46",
        "name": "Report progress",
        "func": "let data = context.global.data;\nlet batt_mode = data[\"batt_mode\"]\n\n//if (batt_mode != \"Idle\") {\n    msg.inform_domo = true;\n    let txt=\"\";\n\n    let sp = data[\"ess_setpoint\"] \n    let batt_state = data[\"batt_state\"]\n    let batt_soc = data[\"batt_soc\"]\n    let charge_state = data[\"charge_state\"]\n\n    txt = \"Victron status: mode=\"+batt_mode+\" state=\"+batt_state+\" soc=\"+batt_soc+\" charge state= \"+charge_state\n    node.warn(txt);\n    msg.domo_msg = txt;\n    return msg;\n//}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 2560,
        "wires": [
            [
                "d14625af14055f20"
            ]
        ]
    },
    {
        "id": "2f93a2522ebb4484",
        "type": "victron-input-vebus",
        "z": "8d3b29f48feb985c",
        "g": "09c2cef9562d2a46",
        "service": "com.victronenergy.vebus/276",
        "path": "/VebusChargeState",
        "serviceObj": {
            "service": "com.victronenergy.vebus/276",
            "name": "MultiPlus"
        },
        "pathObj": {
            "path": "/VebusChargeState",
            "type": "enum",
            "name": "Charge state",
            "enum": {
                "0": "Initialising",
                "1": "Bulk",
                "2": "Absorption",
                "3": "Float",
                "4": "Storage",
                "5": "Absorb repeat",
                "6": "Forced absorb",
                "7": "Equalise",
                "8": "Bulk stopped",
                "9": "Unknown"
            }
        },
        "initial": "",
        "name": "MultiPlus-II 48/5000 | Charge State",
        "onlyChanges": true,
        "x": 180,
        "y": 2480,
        "wires": [
            [
                "2f9c61d13cdca117"
            ]
        ]
    },
    {
        "id": "454dffade8093f08",
        "type": "catch",
        "z": "8d3b29f48feb985c",
        "d": true,
        "g": "9bad7daae227974f",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 2920,
        "wires": [
            [
                "8de232d607ed9dae"
            ]
        ]
    },
    {
        "id": "8de232d607ed9dae",
        "type": "function",
        "z": "8d3b29f48feb985c",
        "g": "9bad7daae227974f",
        "name": "function 1",
        "func": "txt=\"Victron ERROR: \"+ msg.error.message + \"node name: \"+msn.error.source.name;\nmsg.payload = txt;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 2920,
        "wires": [
            [
                "f6df8aab7f837216"
            ]
        ]
    },
    {
        "id": "f6df8aab7f837216",
        "type": "link out",
        "z": "8d3b29f48feb985c",
        "g": "9bad7daae227974f",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "44d07b9e813b1e68"
        ],
        "x": 375,
        "y": 2920,
        "wires": []
    },
    {
        "id": "d464f5880be3efb4",
        "type": "function",
        "z": "8d3b29f48feb985c",
        "g": "09c2cef9562d2a46",
        "name": "Monitor GridBalance",
        "func": "let data = context.global.data;\nlet batt_mode = data[\"batt_mode\"];\nlet batt_state = data[\"batt_state\"];\nlet charge_state = data[\"charge_state\"];\nlet power = Math.round(data[\"grid_total_w\"]);\nlet sp = Math.round(data[\"ess_setpoint\"]);\nlet soc = data[\"batt_soc\"];\nlet idle_rate = context.global.idle_rate;\nlet num_mp = context.global.number_of_multiplus;\nlet min_soc = context.global.min_soc\nlet txt = \"\";\nmsg.batt_mode = \"Grid Balance\";\n\nif (batt_mode == \"Grid Balance\") {\n    //node.warn(\"In Grid Balance, batt_mode \"+batt_mode+\" with power \"+power+\" and setpoint \"+sp)\n    if (Math.abs(power) > 250) {\n        // adjust power only if over 250W difference\n        node.warn(\"Power needs adjusting: \"+power)\n        let new_sp = sp - power;\n        txt=\"ESS Setpoint needs adjusting, power: \"+power+\" from: \"+sp+\" to \"+new_sp;\n        node.warn(txt)\n        msg.domo_message = txt\n        msg.inform_domo = true\n        msg.payload = new_sp\n        if (((soc <= min_soc && batt_state == \"Discharging\")) || ((new_sp > idle_rate) && (charge_state == \"Float\"))) {\n            // discharging whilst at minimim or charging in float\n            new_sp = idle_rate;\n            txt = \"Victron: switching from Grid balance to idle as battery near the end, power: \"+power+\" from: \"+sp+\" to \"+new_sp\n            node.warn(txt)\n            msg.domo_message = txt\n            msg.payload = new_sp;\n            msg.batt_mode = \"Idle\";\n        }\n        return msg;\n    }\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 2400,
        "wires": [
            [
                "d14625af14055f20",
                "3289791d00f40465",
                "91c5833faf99eab3",
                "51c0cfb742f07a47"
            ]
        ]
    },
    {
        "id": "19ae2782076f0991",
        "type": "function",
        "z": "8d3b29f48feb985c",
        "g": "09c2cef9562d2a46",
        "name": "Set GridBalance",
        "func": "// This node handles IQ Smart Mode requests\nmsg.inform_domo = true\nmsg.domo_msg = \"Victron: Grid Balance\";\nmsg.batt_mode = \"Grid Balance\"\nnode.warn(\"Victron: switching to Grid Balance\")\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 2360,
        "wires": [
            [
                "d14625af14055f20",
                "d464f5880be3efb4",
                "3289791d00f40465"
            ]
        ]
    },
    {
        "id": "e7fd29b09a28654d",
        "type": "inject",
        "z": "8d3b29f48feb985c",
        "g": "09c2cef9562d2a46",
        "name": "1 minute ping",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 2400,
        "wires": [
            [
                "d464f5880be3efb4"
            ]
        ]
    },
    {
        "id": "02a7858b852d91b0",
        "type": "function",
        "z": "8d3b29f48feb985c",
        "g": "09c2cef9562d2a46",
        "name": "Set IQ Smart Mode",
        "func": "// This node handles IQ Smart Mode requests\nmsg.inform_domo = true\nmsg.domo_msg = \"Victron: IQ Smart Mode\";\nmsg.batt_mode = \"IQ Smart Mode\"\nnode.warn(\"Victron: switching to IQ Smart Mode\")\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 2320,
        "wires": [
            [
                "d14625af14055f20",
                "f2c94a03e44ac36d",
                "3289791d00f40465"
            ]
        ]
    },
    {
        "id": "91c5833faf99eab3",
        "type": "debug",
        "z": "8d3b29f48feb985c",
        "g": "09c2cef9562d2a46",
        "name": "GridBalance log",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 815,
        "y": 2400,
        "wires": [],
        "l": false
    },
    {
        "id": "d9170c81baee4ff3",
        "type": "victron-output-ess",
        "z": "8d3b29f48feb985c",
        "g": "bad554f7d868bf19",
        "service": "com.victronenergy.settings",
        "path": "/Settings/CGwacs/AcPowerSetPoint",
        "serviceObj": {
            "service": "com.victronenergy.settings",
            "name": "Venus settings"
        },
        "pathObj": {
            "path": "/Settings/CGwacs/AcPowerSetPoint",
            "type": "integer",
            "name": "Grid set-point (W)",
            "mode": "both"
        },
        "name": "Grid SetPoint",
        "onlyChanges": false,
        "x": 860,
        "y": 200,
        "wires": []
    },
    {
        "id": "11fac77a0d071027",
        "type": "link in",
        "z": "8d3b29f48feb985c",
        "g": "bad554f7d868bf19",
        "name": "Grid SetPoint",
        "links": [
            "824d7a39eb03356e",
            "7f1f55894fcbda14",
            "51c0cfb742f07a47",
            "308488716b4a1ceb"
        ],
        "x": 735,
        "y": 200,
        "wires": [
            [
                "d9170c81baee4ff3",
                "74a4ce465b0fb3ee"
            ]
        ]
    },
    {
        "id": "824d7a39eb03356e",
        "type": "link out",
        "z": "8d3b29f48feb985c",
        "g": "9e46f3329af496ae",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "11fac77a0d071027"
        ],
        "x": 625,
        "y": 260,
        "wires": []
    },
    {
        "id": "7f1f55894fcbda14",
        "type": "link out",
        "z": "8d3b29f48feb985c",
        "g": "05bc2ab263663dde",
        "name": "Grid SP",
        "mode": "link",
        "links": [
            "11fac77a0d071027"
        ],
        "x": 735,
        "y": 1660,
        "wires": []
    },
    {
        "id": "51c0cfb742f07a47",
        "type": "link out",
        "z": "8d3b29f48feb985c",
        "g": "09c2cef9562d2a46",
        "name": "Grid SP",
        "mode": "link",
        "links": [
            "11fac77a0d071027"
        ],
        "x": 975,
        "y": 2360,
        "wires": []
    },
    {
        "id": "308488716b4a1ceb",
        "type": "link out",
        "z": "8d3b29f48feb985c",
        "g": "dc7bd95e3d68dfe3",
        "name": "Grid SP",
        "mode": "link",
        "links": [
            "11fac77a0d071027"
        ],
        "x": 695,
        "y": 2780,
        "wires": []
    },
    {
        "id": "5d6a2e200fb8faa7",
        "type": "debug",
        "z": "8d3b29f48feb985c",
        "g": "dc7bd95e3d68dfe3",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 605,
        "y": 2740,
        "wires": [],
        "l": false
    },
    {
        "id": "74a4ce465b0fb3ee",
        "type": "debug",
        "z": "8d3b29f48feb985c",
        "g": "bad554f7d868bf19",
        "name": "Set SP",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 240,
        "wires": []
    },
    {
        "id": "648e528a859f3a50",
        "type": "victron-virtual",
        "z": "f288e92fa3b1548c",
        "name": "Enphase Solar",
        "device": "pvinverter",
        "default_values": true,
        "battery_capacity": 25,
        "include_battery_temperature": false,
        "grid_nrofphases": 1,
        "include_motor_temp": false,
        "include_controller_temp": false,
        "include_coolant_temp": false,
        "include_motor_rpm": true,
        "include_motor_direction": true,
        "position": 0,
        "pvinverter_nrofphases": "3",
        "fluid_type": 0,
        "include_tank_battery": false,
        "include_tank_temperature": false,
        "tank_battery_voltage": 3.3,
        "tank_capacity": 0.2,
        "temperature_type": 2,
        "include_humidity": false,
        "include_pressure": false,
        "include_temp_battery": false,
        "temp_battery_voltage": 3.3,
        "x": 140,
        "y": 40,
        "wires": []
    },
    {
        "id": "20f3dd28e63a1967",
        "type": "victron-output-custom",
        "z": "f288e92fa3b1548c",
        "service": "com.victronenergy.pvinverter/100",
        "path": "/Connected",
        "serviceObj": {
            "service": "com.victronenergy.pvinverter/100",
            "name": "Enphase Solar (100)"
        },
        "pathObj": {
            "path": "/Connected",
            "name": "/Connected",
            "type": "number",
            "value": 1
        },
        "name": "",
        "onlyChanges": false,
        "x": 380,
        "y": 120,
        "wires": []
    },
    {
        "id": "7e84598c750b18c4",
        "type": "inject",
        "z": "f288e92fa3b1548c",
        "name": "1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "20f3dd28e63a1967"
            ]
        ]
    },
    {
        "id": "e53d485b5dfebcce",
        "type": "inject",
        "z": "f288e92fa3b1548c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Enphase",
        "payloadType": "str",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "375e7292136efaac"
            ]
        ]
    },
    {
        "id": "375e7292136efaac",
        "type": "victron-output-custom",
        "z": "f288e92fa3b1548c",
        "service": "com.victronenergy.pvinverter/100",
        "path": "/ProductName",
        "serviceObj": {
            "service": "com.victronenergy.pvinverter/100",
            "name": "Enphase Solar (100)"
        },
        "pathObj": {
            "path": "/ProductName",
            "name": "/ProductName",
            "type": "string",
            "value": "Virtual pvinverter"
        },
        "name": "",
        "onlyChanges": false,
        "x": 390,
        "y": 160,
        "wires": []
    },
    {
        "id": "eb91ceadaf32819d",
        "type": "victron-output-custom",
        "z": "f288e92fa3b1548c",
        "service": "com.victronenergy.pvinverter/100",
        "path": "/Serial",
        "serviceObj": {
            "service": "com.victronenergy.pvinverter/100",
            "name": "Enphase Solar (100)"
        },
        "pathObj": {
            "path": "/Serial",
            "name": "/Serial",
            "type": "string",
            "value": "648e528a859f3a50"
        },
        "name": "",
        "onlyChanges": false,
        "x": 360,
        "y": 240,
        "wires": []
    },
    {
        "id": "7786b47bfc0ef489",
        "type": "inject",
        "z": "f288e92fa3b1548c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "42635462",
        "payloadType": "str",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "eb91ceadaf32819d"
            ]
        ]
    },
    {
        "id": "726e2f28d0d54716",
        "type": "inject",
        "z": "f288e92fa3b1548c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "7",
        "payloadType": "num",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "ecd7fead17f9f67b"
            ]
        ]
    },
    {
        "id": "94298c90081378c3",
        "type": "inject",
        "z": "f288e92fa3b1548c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "12000",
        "payloadType": "num",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "2c06c1e5cf0b8328"
            ]
        ]
    },
    {
        "id": "ecd7fead17f9f67b",
        "type": "victron-output-custom",
        "z": "f288e92fa3b1548c",
        "service": "com.victronenergy.pvinverter/100",
        "path": "/StatusCode",
        "serviceObj": {
            "service": "com.victronenergy.pvinverter/100",
            "name": "Enphase Solar (100)"
        },
        "pathObj": {
            "path": "/StatusCode",
            "name": "/StatusCode",
            "type": "number",
            "value": 0
        },
        "name": "",
        "onlyChanges": false,
        "x": 380,
        "y": 280,
        "wires": []
    },
    {
        "id": "2c06c1e5cf0b8328",
        "type": "victron-output-custom",
        "z": "f288e92fa3b1548c",
        "service": "com.victronenergy.pvinverter/100",
        "path": "/Ac/MaxPower",
        "serviceObj": {
            "service": "com.victronenergy.pvinverter/100",
            "name": "Enphase Solar (100)"
        },
        "pathObj": {
            "path": "/Ac/MaxPower",
            "name": "/Ac/MaxPower",
            "type": "number",
            "value": 1000
        },
        "name": "",
        "onlyChanges": false,
        "x": 390,
        "y": 320,
        "wires": []
    },
    {
        "id": "5eee62410628f5b9",
        "type": "victron-output-custom",
        "z": "f288e92fa3b1548c",
        "service": "com.victronenergy.pvinverter/100",
        "path": "/Ac/L1/Voltage",
        "serviceObj": {
            "service": "com.victronenergy.pvinverter/100",
            "name": "Enphase Solar (100)"
        },
        "pathObj": {
            "path": "/Ac/L1/Voltage",
            "name": "/Ac/L1/Voltage",
            "type": "number",
            "value": 0
        },
        "name": "",
        "onlyChanges": false,
        "x": 570,
        "y": 380,
        "wires": []
    },
    {
        "id": "4c9fcfc0b9049e09",
        "type": "victron-output-custom",
        "z": "f288e92fa3b1548c",
        "service": "com.victronenergy.pvinverter/100",
        "path": "/Ac/L1/Power",
        "serviceObj": {
            "service": "com.victronenergy.pvinverter/100",
            "name": "Enphase Solar (100)"
        },
        "pathObj": {
            "path": "/Ac/L1/Power",
            "name": "/Ac/L1/Power",
            "type": "number",
            "value": 0
        },
        "name": "",
        "onlyChanges": false,
        "x": 560,
        "y": 520,
        "wires": []
    },
    {
        "id": "785478de2056ae04",
        "type": "victron-output-custom",
        "z": "f288e92fa3b1548c",
        "service": "com.victronenergy.pvinverter/100",
        "path": "/Ac/L1/Energy/Forward",
        "serviceObj": {
            "service": "com.victronenergy.pvinverter/100",
            "name": "Enphase Solar (100)"
        },
        "pathObj": {
            "path": "/Ac/L1/Energy/Forward",
            "name": "/Ac/L1/Energy/Forward",
            "type": "number",
            "value": 0
        },
        "name": "",
        "onlyChanges": false,
        "x": 590,
        "y": 680,
        "wires": []
    },
    {
        "id": "a7d7fcaa76689282",
        "type": "victron-output-custom",
        "z": "f288e92fa3b1548c",
        "service": "com.victronenergy.pvinverter/100",
        "path": "/Ac/L1/Current",
        "serviceObj": {
            "service": "com.victronenergy.pvinverter/100",
            "name": "Enphase Solar (100)"
        },
        "pathObj": {
            "path": "/Ac/L1/Current",
            "name": "/Ac/L1/Current",
            "type": "number",
            "value": 0
        },
        "name": "",
        "onlyChanges": false,
        "x": 1290,
        "y": 380,
        "wires": []
    },
    {
        "id": "621fb0b6e8350044",
        "type": "victron-output-custom",
        "z": "f288e92fa3b1548c",
        "service": "com.victronenergy.pvinverter/100",
        "path": "/Ac/Power",
        "serviceObj": {
            "service": "com.victronenergy.pvinverter/100",
            "name": "Enphase Solar (100)"
        },
        "pathObj": {
            "path": "/Ac/Power",
            "name": "/Ac/Power",
            "type": "number",
            "value": 0
        },
        "name": "",
        "onlyChanges": false,
        "x": 560,
        "y": 640,
        "wires": []
    },
    {
        "id": "b3032d747b10fda4",
        "type": "victron-output-custom",
        "z": "f288e92fa3b1548c",
        "service": "com.victronenergy.pvinverter/100",
        "path": "/Ac/Energy/Forward",
        "serviceObj": {
            "service": "com.victronenergy.pvinverter/100",
            "name": "Enphase Solar (100)"
        },
        "pathObj": {
            "path": "/Ac/Energy/Forward",
            "name": "/Ac/Energy/Forward",
            "type": "number",
            "value": 0
        },
        "name": "",
        "onlyChanges": false,
        "x": 590,
        "y": 800,
        "wires": []
    },
    {
        "id": "c7ab76eaeed1e037",
        "type": "function",
        "z": "f288e92fa3b1548c",
        "name": "ABS",
        "func": "msg.payload = Math.max(msg.payload.instant,0);\nmsg.topic=\"power\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 520,
        "wires": [
            [
                "4c9fcfc0b9049e09",
                "50b0ece631a8f085"
            ]
        ]
    },
    {
        "id": "50b0ece631a8f085",
        "type": "join",
        "z": "f288e92fa3b1548c",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 870,
        "y": 380,
        "wires": [
            [
                "50cf05523392af4a"
            ]
        ]
    },
    {
        "id": "50cf05523392af4a",
        "type": "function",
        "z": "f288e92fa3b1548c",
        "name": "Make Amps",
        "func": "let amps = 0;\n//node.error(\"Volt is\", msg.payload.voltage)\n//node.error(\"Power is\", msg.payload.power)\n\nif (msg.payload.voltage != 0)\n{\n    amps = msg.payload.power / msg.payload.voltage;\n}\nmsg.topic = \"amps\"\nmsg.payload = amps;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 380,
        "wires": [
            [
                "a7d7fcaa76689282"
            ]
        ]
    },
    {
        "id": "16858a72355be5de",
        "type": "function",
        "z": "f288e92fa3b1548c",
        "name": "kWh",
        "func": "msg.payload = msg.payload.usage / 1000.0;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 680,
        "wires": [
            [
                "785478de2056ae04"
            ]
        ]
    },
    {
        "id": "3dc5e1a246c38019",
        "type": "victron-output-custom",
        "z": "f288e92fa3b1548c",
        "service": "com.victronenergy.pvinverter/100",
        "path": "/CustomName",
        "serviceObj": {
            "service": "com.victronenergy.pvinverter/100",
            "name": "Enphase Solar (100)"
        },
        "pathObj": {
            "path": "/CustomName",
            "name": "/CustomName",
            "type": "string",
            "value": "Enphase Solar"
        },
        "name": "",
        "onlyChanges": false,
        "x": 390,
        "y": 200,
        "wires": []
    },
    {
        "id": "89a1f97f36226007",
        "type": "inject",
        "z": "f288e92fa3b1548c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Enphase",
        "payloadType": "str",
        "x": 120,
        "y": 200,
        "wires": [
            [
                "3dc5e1a246c38019"
            ]
        ]
    },
    {
        "id": "d19aa70a53538180",
        "type": "comment",
        "z": "f288e92fa3b1548c",
        "name": "7 = running, 8=standby",
        "info": "",
        "x": 620,
        "y": 280,
        "wires": []
    },
    {
        "id": "a5dfc387ca3d8130",
        "type": "victron-output-custom",
        "z": "f288e92fa3b1548c",
        "service": "com.victronenergy.pvinverter/100",
        "path": "/Ac/L2/Power",
        "serviceObj": {
            "service": "com.victronenergy.pvinverter/100",
            "name": "Enphase Solar (100)"
        },
        "pathObj": {
            "path": "/Ac/L2/Power",
            "name": "/Ac/L2/Power",
            "type": "number",
            "value": 0
        },
        "name": "",
        "onlyChanges": false,
        "x": 560,
        "y": 560,
        "wires": []
    },
    {
        "id": "ba0ff5bc1e04c496",
        "type": "victron-output-custom",
        "z": "f288e92fa3b1548c",
        "service": "com.victronenergy.pvinverter/100",
        "path": "/Ac/L3/Power",
        "serviceObj": {
            "service": "com.victronenergy.pvinverter/100",
            "name": "Enphase (100)"
        },
        "pathObj": {
            "path": "/Ac/L3/Power",
            "name": "/Ac/L3/Power",
            "type": "number",
            "value": 1931.7
        },
        "name": "",
        "onlyChanges": false,
        "x": 550,
        "y": 600,
        "wires": []
    },
    {
        "id": "e4bc6679ad81fc0a",
        "type": "victron-output-custom",
        "z": "f288e92fa3b1548c",
        "service": "com.victronenergy.pvinverter/100",
        "path": "/Ac/L2/Voltage",
        "serviceObj": {
            "service": "com.victronenergy.pvinverter/100",
            "name": "Enphase Solar (100)"
        },
        "pathObj": {
            "path": "/Ac/L2/Voltage",
            "name": "/Ac/L2/Voltage",
            "type": "number",
            "value": 0
        },
        "name": "",
        "onlyChanges": false,
        "x": 570,
        "y": 420,
        "wires": []
    },
    {
        "id": "3232bbd17bba6f74",
        "type": "victron-output-custom",
        "z": "f288e92fa3b1548c",
        "service": "com.victronenergy.pvinverter/100",
        "path": "/Ac/L3/Voltage",
        "serviceObj": {
            "service": "com.victronenergy.pvinverter/100",
            "name": "Enphase Solar (100)"
        },
        "pathObj": {
            "path": "/Ac/L3/Voltage",
            "name": "/Ac/L3/Voltage",
            "type": "number",
            "value": 0
        },
        "name": "",
        "onlyChanges": false,
        "x": 570,
        "y": 460,
        "wires": []
    },
    {
        "id": "0d4bfc8ad7699b1d",
        "type": "victron-output-custom",
        "z": "f288e92fa3b1548c",
        "service": "com.victronenergy.pvinverter/100",
        "path": "/Ac/L2/Energy/Forward",
        "serviceObj": {
            "service": "com.victronenergy.pvinverter/100",
            "name": "Enphase Solar (100)"
        },
        "pathObj": {
            "path": "/Ac/L2/Energy/Forward",
            "name": "/Ac/L2/Energy/Forward",
            "type": "number",
            "value": 0
        },
        "name": "",
        "onlyChanges": false,
        "x": 590,
        "y": 720,
        "wires": []
    },
    {
        "id": "baa11d9f6cf2d247",
        "type": "victron-output-custom",
        "z": "f288e92fa3b1548c",
        "service": "com.victronenergy.pvinverter/100",
        "path": "/Ac/L3/Energy/Forward",
        "serviceObj": {
            "service": "com.victronenergy.pvinverter/100",
            "name": "Enphase Solar (100)"
        },
        "pathObj": {
            "path": "/Ac/L3/Energy/Forward",
            "name": "/Ac/L3/Energy/Forward",
            "type": "number",
            "value": 0
        },
        "name": "",
        "onlyChanges": false,
        "x": 590,
        "y": 760,
        "wires": []
    },
    {
        "id": "71735ca3e1d1f0d4",
        "type": "victron-output-custom",
        "z": "f288e92fa3b1548c",
        "service": "com.victronenergy.pvinverter/100",
        "path": "/Ac/L2/Current",
        "serviceObj": {
            "service": "com.victronenergy.pvinverter/100",
            "name": "Enphase (100)"
        },
        "pathObj": {
            "path": "/Ac/L2/Current",
            "name": "/Ac/L2/Current",
            "type": "number",
            "value": 8.704111911827045
        },
        "name": "",
        "onlyChanges": false,
        "x": 1270,
        "y": 420,
        "wires": []
    },
    {
        "id": "b6c41af57c9ce51e",
        "type": "victron-output-custom",
        "z": "f288e92fa3b1548c",
        "service": "com.victronenergy.pvinverter/100",
        "path": "/Ac/L3/Current",
        "serviceObj": {
            "service": "com.victronenergy.pvinverter/100",
            "name": "Enphase (100)"
        },
        "pathObj": {
            "path": "/Ac/L3/Current",
            "name": "/Ac/L3/Current",
            "type": "number",
            "value": 0
        },
        "name": "",
        "onlyChanges": false,
        "x": 1270,
        "y": 460,
        "wires": []
    },
    {
        "id": "9d0c7932c8c5b276",
        "type": "function",
        "z": "f288e92fa3b1548c",
        "name": "Make Amps",
        "func": "let amps = 0;\nif (msg.payload.voltage != 0)\n{\n    amps = msg.payload.power / msg.payload.voltage;\n}\nmsg.topic = \"amps\"\nmsg.payload = amps;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 420,
        "wires": [
            [
                "71735ca3e1d1f0d4"
            ]
        ]
    },
    {
        "id": "fcb3165ad1ae5d6d",
        "type": "function",
        "z": "f288e92fa3b1548c",
        "name": "Make Amps",
        "func": "let amps = 0;\nif (msg.payload.voltage != 0)\n{\n    amps = msg.payload.power / msg.payload.voltage;\n}\nmsg.topic = \"amps\"\nmsg.payload = amps;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 460,
        "wires": [
            [
                "b6c41af57c9ce51e"
            ]
        ]
    },
    {
        "id": "928469d059f226cd",
        "type": "function",
        "z": "f288e92fa3b1548c",
        "name": "ABS",
        "func": "msg.payload = Math.max(msg.payload.instant,0);\nmsg.topic=\"power\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 560,
        "wires": [
            [
                "a5dfc387ca3d8130",
                "90df129155e6a5a3"
            ]
        ]
    },
    {
        "id": "f4dbd90a08e4d3a3",
        "type": "function",
        "z": "f288e92fa3b1548c",
        "name": "ABS",
        "func": "msg.payload = Math.max(msg.payload.instant,0);\nmsg.topic=\"power\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 600,
        "wires": [
            [
                "ba0ff5bc1e04c496",
                "94f43131b10fbadc"
            ]
        ]
    },
    {
        "id": "1379f59a9ab8bfaa",
        "type": "function",
        "z": "f288e92fa3b1548c",
        "name": "ABS",
        "func": "msg.payload = Math.max(msg.payload.instant,0);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 640,
        "wires": [
            [
                "621fb0b6e8350044"
            ]
        ]
    },
    {
        "id": "5a3df00adb5a3c5d",
        "type": "mqtt in",
        "z": "f288e92fa3b1548c",
        "name": "L1 Voltage - voltage",
        "topic": "domo-pub/9607/state",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ee1bb25c871ce5fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 380,
        "wires": [
            [
                "4b01cfddd5a8ca3b"
            ]
        ]
    },
    {
        "id": "fc84e8f8dcd238db",
        "type": "mqtt in",
        "z": "f288e92fa3b1548c",
        "name": "L2 Voltage - voltage",
        "topic": "domo-pub/9611/state",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ee1bb25c871ce5fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 420,
        "wires": [
            [
                "fe13c07048e090bd"
            ]
        ]
    },
    {
        "id": "7f0c03114d0b987a",
        "type": "mqtt in",
        "z": "f288e92fa3b1548c",
        "name": "L3 Voltage - voltage",
        "topic": "domo-pub/9603/state",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ee1bb25c871ce5fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 460,
        "wires": [
            [
                "5eea50d91a368f97"
            ]
        ]
    },
    {
        "id": "89b5a3f61172c5cf",
        "type": "mqtt in",
        "z": "f288e92fa3b1548c",
        "name": "L1 Power - usage",
        "topic": "domo-pub/9605/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ee1bb25c871ce5fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 520,
        "wires": [
            [
                "c7ab76eaeed1e037",
                "16858a72355be5de"
            ]
        ]
    },
    {
        "id": "60d9c24aab84031a",
        "type": "mqtt in",
        "z": "f288e92fa3b1548c",
        "name": "L2 Power - usage",
        "topic": "domo-pub/9609/state",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ee1bb25c871ce5fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 560,
        "wires": [
            [
                "928469d059f226cd",
                "f524255c0d1089d7"
            ]
        ]
    },
    {
        "id": "7e8821966fbf33a9",
        "type": "mqtt in",
        "z": "f288e92fa3b1548c",
        "name": "L3 Power - usage",
        "topic": "domo-pub/9601/state",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ee1bb25c871ce5fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 600,
        "wires": [
            [
                "f4dbd90a08e4d3a3",
                "30b934f63d921160"
            ]
        ]
    },
    {
        "id": "51218b102c095b2f",
        "type": "mqtt in",
        "z": "f288e92fa3b1548c",
        "name": "Total Power - usage",
        "topic": "domo-pub/9613/state",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ee1bb25c871ce5fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 640,
        "wires": [
            [
                "1379f59a9ab8bfaa",
                "703e01f8440f5150"
            ]
        ]
    },
    {
        "id": "4b01cfddd5a8ca3b",
        "type": "function",
        "z": "f288e92fa3b1548c",
        "name": "voltage",
        "func": "let v=msg.payload.voltage;\nmsg.payload=v\nmsg.topic = \"voltage\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 380,
        "wires": [
            [
                "5eee62410628f5b9",
                "50b0ece631a8f085"
            ]
        ]
    },
    {
        "id": "fe13c07048e090bd",
        "type": "function",
        "z": "f288e92fa3b1548c",
        "name": "voltage",
        "func": "let v=msg.payload.voltage;\nmsg.payload=v\nmsg.topic = \"voltage\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 420,
        "wires": [
            [
                "e4bc6679ad81fc0a",
                "90df129155e6a5a3"
            ]
        ]
    },
    {
        "id": "5eea50d91a368f97",
        "type": "function",
        "z": "f288e92fa3b1548c",
        "name": "voltage",
        "func": "let v=msg.payload.voltage;\nmsg.payload=v\nmsg.topic = \"voltage\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 460,
        "wires": [
            [
                "3232bbd17bba6f74",
                "94f43131b10fbadc"
            ]
        ]
    },
    {
        "id": "f524255c0d1089d7",
        "type": "function",
        "z": "f288e92fa3b1548c",
        "name": "kWh",
        "func": "msg.payload = msg.payload.usage / 1000.0;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 720,
        "wires": [
            [
                "0d4bfc8ad7699b1d"
            ]
        ]
    },
    {
        "id": "30b934f63d921160",
        "type": "function",
        "z": "f288e92fa3b1548c",
        "name": "kWh",
        "func": "msg.payload = msg.payload.usage / 1000.0;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 760,
        "wires": [
            [
                "baa11d9f6cf2d247"
            ]
        ]
    },
    {
        "id": "703e01f8440f5150",
        "type": "function",
        "z": "f288e92fa3b1548c",
        "name": "kWh",
        "func": "msg.payload = msg.payload.usage / 1000.0;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 800,
        "wires": [
            [
                "b3032d747b10fda4"
            ]
        ]
    },
    {
        "id": "90df129155e6a5a3",
        "type": "join",
        "z": "f288e92fa3b1548c",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 870,
        "y": 420,
        "wires": [
            [
                "9d0c7932c8c5b276"
            ]
        ]
    },
    {
        "id": "94f43131b10fbadc",
        "type": "join",
        "z": "f288e92fa3b1548c",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 870,
        "y": 460,
        "wires": [
            [
                "fcb3165ad1ae5d6d"
            ]
        ]
    },
    {
        "id": "4943b9a1398b4d9d",
        "type": "function",
        "z": "13fd8d3e42908a31",
        "name": "log_domo",
        "func": "let str = msg.payload;\nlet alert = encodeURIComponent(str);\nlet level=2\nmsg.url = \"http://192.168.1.109:18081/json.htm?type=command&param=addlogmessage&message=\"+alert+\"&level=\"+level;\n//node.warn(msg.url)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 100,
        "wires": [
            [
                "54ff11746108429f"
            ]
        ]
    },
    {
        "id": "54ff11746108429f",
        "type": "http request",
        "z": "13fd8d3e42908a31",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "persist": false,
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 120,
        "wires": [
            [
                "dae890e2161d6a61"
            ]
        ]
    },
    {
        "id": "44d07b9e813b1e68",
        "type": "link in",
        "z": "13fd8d3e42908a31",
        "name": "log_domo",
        "links": [
            "47ac3bb0d650e7cd",
            "50726057d964075f",
            "d72e4c9c76c0a54b",
            "198705d9b12167f3",
            "99ad6f3fc2443ad9",
            "59660e1586e1ec48",
            "031b9cbf3eb7ea67",
            "0b2f6c937ecdd315",
            "f6df8aab7f837216"
        ],
        "x": 65,
        "y": 100,
        "wires": [
            [
                "4943b9a1398b4d9d"
            ]
        ]
    },
    {
        "id": "dae890e2161d6a61",
        "type": "debug",
        "z": "13fd8d3e42908a31",
        "name": "Domo result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 120,
        "wires": []
    },
    {
        "id": "6744f5332974af3d",
        "type": "inject",
        "z": "13fd8d3e42908a31",
        "name": "Node Red Log",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "2",
        "payload": "Victron Node Red restarted",
        "payloadType": "str",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "47ac3bb0d650e7cd"
            ]
        ]
    },
    {
        "id": "47ac3bb0d650e7cd",
        "type": "link out",
        "z": "13fd8d3e42908a31",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "44d07b9e813b1e68"
        ],
        "x": 295,
        "y": 220,
        "wires": []
    },
    {
        "id": "05d89bda971debf5",
        "type": "function",
        "z": "13fd8d3e42908a31",
        "name": "alert_domo",
        "func": "let str = msg.payload;\nlet alert = encodeURIComponent(str);\nlet subject=msg.topic\nmsg.url = \"http://192.168.1.109:18081/json.htm?type=command&param=sendnotification&subject=\"+subject+\"&body=\"+alert;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 160,
        "wires": [
            [
                "54ff11746108429f"
            ]
        ]
    },
    {
        "id": "1ade85b91dd1ef10",
        "type": "link in",
        "z": "13fd8d3e42908a31",
        "name": "alert_domo",
        "links": [
            "cb675392ac82f529",
            "99ad6f3fc2443ad9",
            "c98ba4a4240e9149",
            "34d0e700c095c17d"
        ],
        "x": 65,
        "y": 160,
        "wires": [
            [
                "05d89bda971debf5"
            ]
        ]
    },
    {
        "id": "1286c1e855b91cf4",
        "type": "inject",
        "z": "13fd8d3e42908a31",
        "name": "Node Red Alert",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "ALERT",
        "payload": "Victron Node Red restarted",
        "payloadType": "str",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "cb675392ac82f529"
            ]
        ]
    },
    {
        "id": "cb675392ac82f529",
        "type": "link out",
        "z": "13fd8d3e42908a31",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "1ade85b91dd1ef10"
        ],
        "x": 295,
        "y": 280,
        "wires": []
    }
]